/* Role Border Color depends on role */

/* For Forums Here */
.container-3s2w-i .message-2CShn3 .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  transform: translate(-60px, 4px);
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.container-3s2w-i .message-2CShn3 {
  margin-left: 66px;
  padding: 0 0 20px 4px;
}

.container-3s2w-i .message-2CShn3.compact-2Nkcau .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  display: none;
}

.container-3s2w-i .message-2CShn3.compact-2Nkcau {
  margin-left: 66px;
  padding: 0 0 6px 0;
}

.container-3s2w-i .message-2CShn3 .avatar-2e8lTP + .avatarDecoration-34OC0G {
  transform: translate(-68px, 6px);
}

/* *************************** */

.message-2CShn3 {
  padding: 20px 0 20px 4px;
  margin-left: 66px;
}

.message-2CShn3.compact-2Nkcau {
  margin-right: unset;
}

.app-2CXKsg .chat-9g_3Xj .messagesWrapper-RpOMA3 .message-2CShn3:last-of-type {
  padding: 0 0 0 4px;
}

.app-2CXKsg .chat-9g_3Xj .messagesWrapper-RpOMA3 .message-2CShn3.compact-2Nkcau {
  padding: 0 0 0 4px;
}

.message-2CShn3 .avatar-2e8lTP {
  z-index: 1;
  transform: translate(-68px, 6px) !important;
}


.message-2CShn3 .avatar-2e8lTP + .avatarDecoration-34OC0G {
  transform: translate(-68px, 6px) !important;
}

.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
  overflow: visible;
}

.message-2CShn3 .username-h_Y3Us::before {
  transform: translate(-60px, 4px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.message-2CShn3.compact-2Nkcau .username-h_Y3Us::before {
  display: none;
}

.mentioned-Tre-dv {
  padding-left: 14px !important;
  padding-top: 12px !important;
}

.mentioned-Tre-dv.compact-2Nkcau {
  padding-left: 5rem !important;
  padding-top: unset !important;
  margin-left: 0;
}

.mentioned-Tre-dv .username-h_Y3Us::before {
  transform: translate(-70px, 4px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.mentioned-Tre-dv.compact-2Nkcau .username-h_Y3Us::before {
  display: none;
}

.mentioned-Tre-dv .repliedMessage-3Z6XBG:before {
  left: -45px;
}

.mentioned-Tre-dv.compact-2Nkcau .repliedMessage-3Z6XBG:before {
  right: calc(100% - .625rem);
}


/* For replys */
.replyAvatar-sHd2sU {
  z-index: 1;
}

.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
  overflow: visible;
}

.repliedMessage-3Z6XBG .username-h_Y3Us {
  position: relative;
  overflow: visible;
}

.repliedMessage-3Z6XBG .username-h_Y3Us::before {
  transform: translate(-22px, -1px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.compact-2Nkcau .repliedMessage-3Z6XBG .username-h_Y3Us {
  position: unset;
  overflow: unset;
}

.compact-2Nkcau .repliedMessage-3Z6XBG .username-h_Y3Us::before {
  display: none;
}

.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  position: absolute;
  left: -70px;
  z-index: 1;
}

/* For Unread/Mentions Option */
.messages-23can0 .avatar-2e8lTP {
  z-index: 1;
}

.messages-23can0 .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: relative;
  overflow: visible;
}

.messages-23can0 .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  transform: translate(-59.5px, -2px);
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.messages-23can0 .compact-2Nkcau .avatar-2e8lTP {
  z-index: unset;
}

.messages-23can0 .compact-2Nkcau .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: unset;
  overflow: unset;
}

.messages-23can0 .compact-2Nkcau .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  display: none;
}

.messageContainer-3VTXBC .avatar-2e8lTP {
  z-index: 1;
}

.messageContainer-3VTXBC .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: relative;
  overflow: visible;
}

.messageContainer-3VTXBC .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  transform: translate(-59.5px, -2px);
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.messageContainer-3VTXBC .compact-2Nkcau .avatar-2e8lTP {
  z-index: unset;
}

.messageContainer-3VTXBC .compact-2Nkcau .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: unset;
  overflow: unset;
}

.messageContainer-3VTXBC .compact-2Nkcau .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  display: none;
}

.searchResult-O9NDji .avatar-2e8lTP {
  z-index: 1;
}

.searchResult-O9NDji .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: relative;
  overflow: visible;
}

.searchResult-O9NDji .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  transform: translate(-60px, -2px);
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.messageGroupWrapper-1jf_7C .avatar-2e8lTP {
  z-index: 1;
}

.messageGroupWrapper-1jf_7C .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us) {
  position: relative;
  overflow: visible;
}

.messageGroupWrapper-1jf_7C .username-h_Y3Us:not(.repliedMessage-3Z6XBG .username-h_Y3Us)::before {
  transform: translate(-60px, -2px);
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

/* Home Screen Avatars */
.card-3x20HF .avatar-2e8lTP {
  z-index: 1;
}

.card-3x20HF .username-h_Y3Us:not(.conversationMessage-hy6ISK .username-h_Y3Us) {
  position: relative;
}

.card-3x20HF .username-h_Y3Us:not(.conversationMessage-hy6ISK .username-h_Y3Us)::before {
  transform: translate(-60px, -2px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.conversationMessage-hy6ISK .username-h_Y3Us {
  position: relative;
}

.conversationMessage-hy6ISK .username-h_Y3Us::before {
  transform: translate(-2px, -21px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.card-3x20HF .mentioned-Tre-dv {
  padding-left: 72px !important;
  padding-top: 12px !important;
}

/* Home Screen Reply Avatars */
.card-3x20HF .replyAvatar-sHd2sU .avatar-2e8lTP {
  z-index: 1;
}

.card-3x20HF .repliedMessage-3Z6XBG .username-h_Y3Us:not(.conversationMessage-hy6ISK .username-h_Y3Us) {
  position: relative;
}

.card-3x20HF .repliedMessage-3Z6XBG .username-h_Y3Us:not(.conversationMessage-hy6ISK .username-h_Y3Us)::before {
  transform: translate(-23px, -2px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}


/* We don't need that much space */
.preview-3k9WhO .message-2CShn3.compact-2Nkcau,
.preview-QJ3OG3 .message-2CShn3.compact-2Nkcau {
  margin-left: 0;
}

.preview-QJ3OG3 .username-h_Y3Us::before,
.preview-3k9WhO .username-h_Y3Us::before {
  transform: translate(-62px, -3px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.preview-QJ3OG3 .message-2CShn3 .avatar-2e8lTP,
.preview-3k9WhO .message-2CShn3 .avatar-2e8lTP {
  transform: translate(-3px, -2px) !important;
  content: '';
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  background: currentColor;
  border-radius: 50%;
  pointer-events: none;
}

.preview-3k9WhO .message-2CShn3 {
  margin-left: -10px;
}

.preview-QJ3OG3 .message-2CShn3 {
  margin-left: 14px;
}

.avatar-2e8lTP.avatar-hF52Er .avatar-2e8lTP {
  position: absolute !important;
  z-index: 1;
  transform: translate(-17px, 0) !important;
}