/* Server list and members position*/
.container_c48ade {
    flex-direction: row-reverse;
}
.wrapper__58105 {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content_f75fb0:not(:has(.mainTableContainer-1olPmq)) {
    flex-direction: row-reverse;
}

.wrapper_ef3116,
.scroller_ef3116 {
    background-color: var(--background-tertiary) !important;
}

.chat_f75fb0 .children__9293f:not(.chatSidebarOpen_cb9592 .children__9293f, .controlSection_bfe55a .children__9293f) {
    margin-left: 242px;
}
.chat_f75fb0 .children__9293f:not(.chatSidebarOpen_cb9592 .children__9293f, .controlSection_bfe55a .children__9293f)::before {
    content: "";
    width: 1px;
    height: 26px;
    background-color: var(--background-modifier-accent);
}

.search__49676 {
    position: absolute;
    left: 0;
}

#app-mount .detailsTooltip-G9hSSa /* Server Details Tooltip */ {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer__382e7 {
    transform: rotate(-90deg);
    left: 300px;
}