/* Server list and members position*/
.container__037ed {
    flex-direction: row-reverse;
}
.wrapper__3670f {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content__1a4fe:not(:has(.mainTableContainer-1olPmq)) {
    flex-direction: row-reverse;
}

.wrapper_a7e7a8,
.scroller__3d071 {
    background-color: var(--background-tertiary) !important;
}

.chat__52833 .children__32014:not(.chatSidebarOpen_dfaa6a .children__32014, .controlSection_daa0d5 .children__32014) {
    margin-left: 242px;
}
.chat__52833 .children__32014:not(.chatSidebarOpen_dfaa6a .children__32014, .controlSection_daa0d5 .children__32014)::before {
    content: "";
    width: 1px;
    height: 26px;
    background-color: var(--background-modifier-accent);
}

.search__07df0 {
    position: absolute;
    left: 0;
}

#app-mount .detailsTooltip-G9hSSa /* Server Details Tooltip */ {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer-sMBQqe {
    transform: rotate(-90deg);
    left: 300px;
}