/* Background Image Transparency */
.container__9293f.themed__9293f,
.nowPlayingColumn__133bf,
.container__7d20c,
.chatContent_f75fb0,
.container_c8ffbb,
.member_c8ffbb,
.members_c8ffbb {
    background: transparent !important;
}
.container__133bf,
.chat_f75fb0 {
    background: var(--background-transparent);
}

/* Background Image */
.layer__960e4.baseLayer__960e4::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(var(--bg-blur));
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
}
.container_c48ade::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--primary-600);
    opacity: var(--opacity);
}