/* Pop by UltraStorm[intergrav] (edited) */
:root {
/* Hover Scale */

    --HoverScale: 1.025;

/* Transition Time */

    --TransitionTime: 0.25s;

/* Ease Type */

    --EaseType: cubic-bezier(0, 0.75, 0, 1.75);

}

/* ---- Hover Animations ---- */
/* Buttons */ .sizeSmall__201d5:hover,
/* Settings List Items */ .side_b3f026 .item_b3f026:hover,
/* Stage discovery */ .container__6b38f:hover,
/* Active now card */ .itemCard__7e549:hover,
/* Activity button */ .lookFilled__201d5.colorPrimary__201d5:hover,
/* Friendlist */ .peopleListItem_cc6179:hover,
/* Direct Message List Items */ .channel__972a0:hover,
/* Member List Items */ .member__5d473:hover,
/* Context Menu Items */ .item_c1e9c4:hover:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_c19a55.clickable_c19a55:hover,
/* Topbar Items */ .toolbar__9293f > .iconWrapper__9293f:hover > svg > path, .toolbar__9293f > .inviteToolbar__133bf > .iconWrapper__9293f:hover > svg > path, .toolbar__9293f > a > .iconWrapper__9293f:hover > svg > path,
/* Server Channels */ .link__2ea32:hover,
/* Nitro Tab Feature Cards */ .feature-2IUcBI:hover,
/* Quick Switcher List Items */ .result__71961[aria-selected=true],
/* Quick Switcher Search Box */ .input_ac6cb0:hover,
/* Sidebar in Discover */ .categoryItem_c72b37:hover,
/* Discovery Tab List Items */ .categoryItem-3zFJns:hover,
/* Discovery Tab Cards */ .card_e90879:hover,
/* Message Options */ .button_f7ecac:hover > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW:hover,
/* Call users */ .listDefault__07f91 .clickable__07f91:hover .content__07f91,
/* User bar */ .panels_c48ade button.button__67645:hover path,
/* Activity Button */ .activity-1gTu-L [type="button"]:hover, .userProfileActivity-sal5no [type="button"]:hover, .activity-E0U09Y [type="button"]:hover
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}

/* ---- Static Animations ---- */
/* Buttons */ .sizeSmall__201d5,
/* Settings List Items */ .side_b3f026 .item_b3f026,
/* Stage discovery */ .container__6b38f,
/* Active now card */ .itemCard__7e549,
/* Activity button */ .lookFilled__201d5.colorPrimary__201d5,
/* Friendlist */ .peopleListItem_cc6179,
/* Direct Message List Items */ .channel__972a0,
/* Member List Items */ .member__5d473,
/* Context Menu Items */ .item_c1e9c4:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_c19a55.clickable_c19a55,
/* Topbar Items */ .toolbar__9293f > .iconWrapper__9293f > svg > path, .toolbar__9293f > .inviteToolbar__133bf > .iconWrapper__9293f > svg > path, .toolbar__9293f > a > .iconWrapper__9293f > svg > path,
/* Server Channels */ .link__2ea32,
/* Nitro Tab Feature Cards */ .feature-2IUcBI,
/* Quick Switcher List Items */ .result__71961[aria-selected=false],
/* Quick Switcher Search Box */ .input_ac6cb0,
/* Sidebar in Discover */ .categoryItem_c72b37,
/* Discovery Tab List Items */ .categoryItem-3zFJns,
/* Discovery Tab Cards */ .card_e90879,
/* Message Options */ .button_f7ecac > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW,
/* Call users */ .content__07f91,
/* User bar */ .panels_c48ade button.button__67645 path,
/* Activity Button */ .activity-1gTu-L [type="button"], .userProfileActivity-sal5no [type="button"], .activity-E0U09Y [type="button"]
{
    transition: var(--EaseType) var(--TransitionTime);
    box-shadow: none;
}

/* ---- When Active ---- */
/* Friend list */ .peopleListItem_cc6179.active_cc6179,
/* Active now */ .outer_bf1984.active_bf1984,
/* Memberlist */ .member__5d473.container__91a9d.selected__91a9d
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}