/* Pop by UltraStorm[intergrav] (edited) */
:root {
/* Hover Scale */

    --HoverScale: 1.025;

/* Transition Time */

    --TransitionTime: 0.25s;

/* Ease Type */

    --EaseType: cubic-bezier(0, 0.75, 0, 1.75);

}

/* ---- Hover Animations ---- */
/* Buttons */ .sizeSmall_dd4f85:hover,
/* Settings List Items */ .side_a0 .item_a0:hover,
/* Stage discovery */ .container_dc3fc4:hover,
/* Active now card */ .itemCard_f02fcf:hover,
/* Activity button */ .lookFilled_dd4f85.colorPrimary_dd4f85:hover,
/* Friendlist */ .peopleListItem_d51464:hover,
/* Direct Message List Items */ .channel_c91bad:hover,
/* Member List Items */ .member_a31c43:hover,
/* Context Menu Items */ .item_d90b3d:hover:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_ec86aa.clickable_ec86aa:hover,
/* Topbar Items */ .toolbar_e44302 > .iconWrapper_e44302:hover > svg > path, .toolbar_e44302 > .inviteToolbar_c2739c > .iconWrapper_e44302:hover > svg > path, .toolbar_e44302 > a > .iconWrapper_e44302:hover > svg > path,
/* Server Channels */ .link_d8bfb3:hover,
/* Nitro Tab Feature Cards */ .feature-2IUcBI:hover,
/* Quick Switcher List Items */ .result_f14193[aria-selected=true],
/* Quick Switcher Search Box */ .input_f4e139:hover,
/* Sidebar in Discover */ .categoryItem_c72b37:hover,
/* Discovery Tab List Items */ .categoryItem-3zFJns:hover,
/* Discovery Tab Cards */ .card_eb1ca6:hover,
/* Message Options */ .button_ef319f:hover > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW:hover,
/* Call users */ .listDefault_cdc675 .clickable_cdc675:hover .content_cdc675,
/* User bar */ .panels_a4d4d9 button.button_f67531:hover path,
/* Activity Button */ .activity-1gTu-L [type="button"]:hover, .userProfileActivity-sal5no [type="button"]:hover, .activity-E0U09Y [type="button"]:hover
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}

/* ---- Static Animations ---- */
/* Buttons */ .sizeSmall_dd4f85,
/* Settings List Items */ .side_a0 .item_a0,
/* Stage discovery */ .container_dc3fc4,
/* Active now card */ .itemCard_f02fcf,
/* Activity button */ .lookFilled_dd4f85.colorPrimary_dd4f85,
/* Friendlist */ .peopleListItem_d51464,
/* Direct Message List Items */ .channel_c91bad,
/* Member List Items */ .member_a31c43,
/* Context Menu Items */ .item_d90b3d:not([id="account-info"], [id="account-avatar"]),
/* Message Profile Pictures */ .avatar_ec86aa.clickable_ec86aa,
/* Topbar Items */ .toolbar_e44302 > .iconWrapper_e44302 > svg > path, .toolbar_e44302 > .inviteToolbar_c2739c > .iconWrapper_e44302 > svg > path, .toolbar_e44302 > a > .iconWrapper_e44302 > svg > path,
/* Server Channels */ .link_d8bfb3,
/* Nitro Tab Feature Cards */ .feature-2IUcBI,
/* Quick Switcher List Items */ .result_f14193[aria-selected=false],
/* Quick Switcher Search Box */ .input_f4e139,
/* Sidebar in Discover */ .categoryItem_c72b37,
/* Discovery Tab List Items */ .categoryItem-3zFJns,
/* Discovery Tab Cards */ .card_eb1ca6,
/* Message Options */ .button_ef319f > svg > path,
/* Gift Nitro */ .giftAction-yhDLaW,
/* Call users */ .content_cdc675,
/* User bar */ .panels_a4d4d9 button.button_f67531 path,
/* Activity Button */ .activity-1gTu-L [type="button"], .userProfileActivity-sal5no [type="button"], .activity-E0U09Y [type="button"]
{
    transition: var(--EaseType) var(--TransitionTime);
    box-shadow: none;
}

/* ---- When Active ---- */
/* Friend list */ .peopleListItem_d51464.active_d51464,
/* Active now */ .outer_c0f6a6.active_c0f6a6,
/* Memberlist */ .member_a31c43.container_e9f61e.selected_e9f61e
{
    transform-origin: center;
    transform: scale(var(--HoverScale));
    box-shadow: var(--elevation-high);
}