/* Server list and members position*/
.container_d1f8f5 {
    flex-direction: row-reverse;
}
.wrapper_b4903b {
    transform: rotate(180deg);
    margin-left: 64px;
}
.content__01e65:not(:has(.mainTableContainer-1olPmq)) {
    flex-direction: row-reverse;
}

.wrapper__216eb,
.scroller_de945b {
    background-color: var(--background-tertiary) !important;
}

.chat__52833 .children_cde9af:not(.chatSidebarOpen_f2e544 .children_cde9af, .controlSection_b43ab2 .children_cde9af) {
    margin-left: 242px;
}
.chat__52833 .children_cde9af:not(.chatSidebarOpen_f2e544 .children_cde9af, .controlSection_b43ab2 .children_cde9af)::before {
    content: "";
    width: 1px;
    height: 26px;
    background-color: var(--background-modifier-accent);
}

.search__07df0 {
    position: absolute;
    left: 0;
}

#app-mount .detailsTooltip-G9hSSa /* Server Details Tooltip */ {
    right: 390px;
}
#app-mount .detailsTooltip-G9hSSa .tooltipPointer_f7411c {
    transform: rotate(-90deg);
    left: 300px;
}