/* Background Animation */
#app-mount.appMount__51fd7 {
    background-size: 200%;
}
#app-mount.appMount__51fd7 {
    animation: Gradient 5s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}

.activity-E0U09Y {
    background-size: 200%;
    animation: ActivityGradient 1s ease infinite;
}
@keyframes ActivityGradient {
    0% {
        background-position:0 50%
    }
    50% {
        background-position:100% 50%
    }
    100% {
        background-position:0 50%
    }
}