#app-mount .app-2rEoOp {
  background-image: var(--background-image);
  background-size: cover;
}

.layers-3iHuyZ {
  background-color: var(--background-opacity);
}

.standardSidebarView-3F1I7i, .sidebarRegionScroller-3MXcoP, .contentRegion-3nDuYy, .contentRegionScroller-26nc1e, .bg-h5JY_x, .theme-dark .layer-3QrUeG, .scroller-305q3I,
.scroller-9moviB {
  background-color: transparent;
}

.lookOutlined-3sRXeN {
  border: none;
}

.theme-dark .closeButton-1tv5uR {
  border-color: transparent;
  border-radius: 10px;
}

.theme-dark .closeButton-1tv5uR:hover {
  background-color: var(--primary-transparency);
  transition: background-color .2s linear;
}

.closeButton-1tv5uR path[fill] {
  fill: var(--primary-color);
}

.theme-dark .keybind-KpFkfr {
  color: white;
}

.header-2RyJ0Y,
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
  font-weight: 600;
  margin-bottom: 6px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(255,255,255, .12);
  border-radius: var(--button-radius);
}

.side-8zPYf6 .header-2RyJ0Y:first-child {
  padding: 6px 10px;
}

.side-8zPYf6 .item-PXvHYJ {
  border-radius: var(--button-radius);
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
  background-color: rgba(0,0,0,.2);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: var(--primary-color);
}

.secondary-dIudih,
.tertiary-aMXF0g {
  background-color: var(--primary-color) !important;
  color: var(--word-color);
}

.messageContainer-gbhlwo {
  background-color: rgba(0, 0, 0, .53);
}

.message-2DieIs {
  overflow: visible;
}

.messageContainer-gbhlwo .avatar-1BDn8e {
  margin-top: -7px;
  position: relative;
}

.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover {
  color: var(--word-color);
}

.input-cIJ7To {
  border-radius: 3px;
  color: white;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: var(--primary-color);
}

.description-3_Ncsb, .labelDescriptor-1PqHgD {
  color: white;
}

.h5-18_1nd {
  color: #dedede;
}

.avatarUploaderInner-3UNxY3 {
  border-radius: var(--avatar-radius);
  background-color: var(--primary-color);
}

.avatarUploaderIndicator-2G-aIZ {
  border-radius: var(--button-radius);
}

.theme-dark .divider-3wNib3 {
  border: none;
}

.css-1yegjoj-control, .css-2yldzf-control {
  border-color: var(--primary-color);
}

.css-181m2lf-menu {
  background-color: #101010;
  box-shadow: none;
  color: white;
  border-color: black;
}

.css-12o7ek3-option {
  background-color: rgba(255,255,255, .02);
  color: white;
}

.css-1gnr91b-option {
  background-color: transparent;
  color: white;
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

.lighten-2aYaaU {
  opacity: .6;
}

.themeDefault-24hCdX,
.bd-switch {
  background-color: rgba(255,255,255, .13);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ,
.bd-switch-checked {
  background-color: var(--primary-color);
}

.bd-switch, 
.bd-switch::after, .sizeDefault-2YlOZr,
.sizeDefault-2YlOZr:after, .sizeMini-1ii40f {
  border-radius: var(--button-radius);
}

.cardPrimaryEditable-3KtE4g, .separator-gCa7yv, .theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
  background: none;
}

.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .divider-3573oO {
  border: none;
}

.theme-dark .checkbox-1ix_J3 {
  border-color: #a5a5a5;
}

.cardPrimaryEditable-3KtE4g[style*="background-color"] {
  background-color: #151515 !important;
  border: none !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color"] {
  border: none;
  background-color: var(--primary-color) !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color"] polyline {
  stroke: var(--checkmark-color);
}

.roleInner-1C_Scc {
  overflow: visible;
}

.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled, .lookInverted-2D7oAl.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91, .theme-dark .create-3jownz .actionButton-2PeQbJ {
  color: #fff;
  background-color: #4259b0;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover, .lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover, .theme-dark .create-3jownz:hover .actionButton-2PeQbJ {
  background-color: #556ec7;
}


.theme-dark .card-FDVird:before {
  background-color: rgba(255, 255, 255, .08);
  border-color: transparent;
}

.theme-dark .button-2CgfFz {
  background-color: rgba(0,0,0,.5) !important;
  box-shadow: none !important;
  border-radius: 4px;
}

.quickSelectLabel-2r3iJ_ {
  opacity: .6;
  overflow: visible;
}

.css-mhi7q3-placeholder {
  color: white;
  opacity: 1;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
  color: #fff !important;
  background-color: #4259b0 !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
  color: #fff !important;
  background-color: #b73333 !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
  color: #fff;
  background-color: #b73333;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background-color: #c73e3e;
}

.member-1q7VfX .avatar-2tTaT6 foreignObject, .avatar-2Hubm8 foreignObject, .bannedUser-1IalTM .bannedUserAvatar-2xQUYe foreignObject {
  mask: none;
}

.roleCircle-3xAZ1j, .role-2irmRk {
  border-radius: var(--button-radius);
}

.theme-dark .actionButton-VzECiy {
  border-color: #558453;
  color: white;
  background: #558453;
}

.wrapper-1Rf91z, .sidebar-2K8pFh, .container-PNkimc, .scroller-2TZvBN, .panels-j1Uci_, .chat-3bRxxu, .messages-3amgkR {
  background-color: transparent;
}

.unread-1xRYoj {
  display: none;
}

.container-1giJp5 {
  color: white;
  border-bottom: none;
}

.theme-dark .container-1r6BKw {
  color: white;
  background-color: transparent;
}  

.content-yTz4x3:before {
  box-shadow: none;
}

.members-1998pB {
  background-color: rgba(0,0,0,.2);
}

.hasMore-3e72_v, .hasMoreButton-1MELpI {
  background-color: rgba(0,0,0,.26);
  border: 2px solid var(--primary-color);
  box-shadow: none;
  color: white;
}


.container-cMG81i, .searchBar-3dMhjb, .container-2XeR5Z {
  border-radius: 0;
  background-color: rgba(0,0,0,.2);
}

.input-3Xdcic, .theme-dark .member-1q7VfX .tag-1YGWN9, .theme-dark .member-1q7VfX .roleWrapper-1Hde_V, .icon-1S6UIr, .searchBar-3dMhjb,
.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root, .theme-dark .clearIcon-2N9YIn, .theme-dark .searchIcon-1a1-yA, .input-1Rv96N, .icon-3cZ1F_ {
  color: white;
}

.childWrapper-anI2G9, .icon-27yU2q, .folder-21wGz3, .folderIconWrapper-226oVY, .expandedFolderBackground-2sPsd-, .iconInactive-98JN5i, .circleIconButton-jET_ig,
.guildsError-b7zR5H, .theme-dark .guildIconUnavailable-5PMHDN {
  border-radius: var(--avatar-radius);
}

.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--primary-transparency);
  border-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-color: transparent;
}

.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.3);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
  border-radius: 3px;
}

.numberBadge-2s8kKX {
  background-color: var(--primary-color) !important;
}

.base-PmTxvP {
  border-radius: var(--button-radius);
  min-width: 22px;
  min-height: 20px;
  color: white;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
  color: var(--word-color) !important;
  box-shadow: none;
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
  background-color: var(--primary-color);
  border: none;
  text-shadow: 0 0 3px black, 0 3px 3px black;
  box-shadow: none;
}

.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
  fill: var(--word-color) !important;
}

.backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
  background-color: rgba(0,0,0,.66) !important;
  opacity: .6 !important;
}

.mention-1f5kbO {
  background-color: var(--primary-color);
  opacity: .6;
  color: var(--word-color);
  border-radius: var(--button-radius);
}

.mention-1f5kbO:active {
  background-color: var(--primary-color);
}


.circleIconButton-jET_ig {
  color: var(--primary-color);
  background-color: transparent;
}

.childWrapper-anI2G9 {
  background-color: transparent;
  color: white;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9, .circleIconButton-jET_ig.selected-ugP_am {
  background-color: var(--primary-color);
  color: var(--word-color);
}

.theme-dark .pageWrapper-1PgVDX {
  background-color: transparent;
}

.bg-AYqtMd {
  opacity: 0 !important;
}

.theme-dark .sectionSeparator-2OWiNT {
  border: none;
}


.css-1wqqa50-container {
  background-color: #111112;
  box-shadow: none;
}

.css-1rckt42-menu {
  background-color: #111112;
  box-shadow: none;
  color: white;
  border-top: none;
}

.theme-dark .searchBox-3Y2Vi7 {
  background-color: #111112;
  box-shadow: none;
}

.roundButton-2CW1Hh {
  border-radius: var(--button-radius);
}

.theme-dark .pageButton-MknE-_:hover {
  background-color: rgba(255, 255, 255, .15);
  color: white;
}

.theme-dark .activeButton-1BJAiN, .theme-dark .activeButton-1BJAiN:hover {
  background-color: var(--primary-color);
  color: var(--word-color);
}

.iconBadge-2wi9r4 {
  background-color: black;
  color: white;
}

.expandedFolderBackground-2sPsd- {
  background-color: rgba(0,0,0,.26);
}

.folder-21wGz3 {
  background-color: transparent !important;
}

.guildSeparator-3s64Iy {
  background: none;
}

.item-2hkk8m {
  width: 20px !important;
  height: 20px !important;
  border-radius: var(--button-radius);
  margin-left: 10px;
  margin-top: -13px;
  background-color: transparent;
  border: 2px solid var(--primary-color);;
  z-index: 1;
  position: absolute;
}

.item-2hkk8m[style*="height: 40px"] {
  background-color: var(--primary-color);
  border: none;
}

.wrapper-sa6paO,
.zalgo-jN1Ica .messageContent-2qWWxC,
.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
  overflow: visible;
}

.theme-dark .wrapper-2ZbzR9 {
  background: none;
}

.theme-dark .root-1gCeng, .theme-dark .theme-light .slide-2pHaq5, .theme-dark .modal-yWgWj- {
  background-color: #151515;
  box-shadow: none;
}

.theme-dark .footer-3rDWdC {
  background-color: transparent;
  box-shadow: none;
}

.theme-dark .join-33Tr-7 .actionButton-2PeQbJ {
  position: relative;
  top: 19px;
}

.theme-dark .join-33Tr-7 .actionButton-2PeQbJ, .lookFilled-1Gx00P.colorGreen-29iAKY, .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
.lookInverted-2D7oAl.colorGreen-29iAKY, .lookOutlined-3sRXeN.colorGreen-29iAKY {
  background-color: #2c8036;
  color: white;
}

.theme-dark .join-33Tr-7:hover .actionButton-2PeQbJ, .lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover, .lookOutlined-3sRXeN.colorGreen-29iAKY:hover {
  background-color: #2a8e35;
}

.theme-dark .header-3ZP1MY, .theme-dark .create-3jownz .actionHeader-2CT5c7, .theme-dark .title-2Dc-Cb {
  color: #5e73c1;
}

.theme-dark .theme-light .action-1lSjCi {
  background: #18191c;
}

.members-1998pB {
  background-color: rgba(0,0,0,.2);
}

.theme-dark .actionBody-1qj65C, .theme-dark .description-QF3836,
.avatarUploader-3XDtmn .sizeInfo-SKMPPw, .theme-dark .helpText-h3r3wC, .theme-dark .label-wQQoIq,
.theme-light .input-1mgnkM, .colorStandard-2KCXvj, .theme-dark .inputLabel-vJ2Z0B, .theme-light .input-UJ9Tr3,
.theme-dark .description-Bw8krY  {
  color: white;
}

.theme-dark .theme-light .or-3THJsp {
  border-radius: 4px;
}

.theme-dark .theme-light .footer-3rDWdC {
  background: none;
}

.colorMuted-HdFt4q {
  color: #d8d8d8;
}


.theme-dark .title-2CFvp_, .theme-dark .sampleLink-KPFu3I {
  color: #4cac4c;
}

.header-2o-2hj {
  color: white;
  box-shadow: none;
}

.clickable-2ap7je .header-2o-2hj:hover, .selected-WP3kCM .header-2o-2hj {
  background-color: rgba(0,0,0,.16);
}

.theme-dark .tooltipRed-8-9NeP {
  color: white;
  background-color: rgba(176, 60, 60, .79);
}

.theme-dark .tooltipRed-8-9NeP .tooltipPointer-3ZfirK {
  border-top-color: #b03c3c;
}

.theme-dark .tooltipBlack-PPG47z {
  background-color: var(--primary-color);
}

.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
  border-top-color: var(--primary-color);
}

.theme-dark .tooltip-2QfLtc {
  box-shadow: none;
  color: var(--word-color);
}

.guildNameTextLimitedSize-1BHdMK {
  color: var(--word-color);
}

.avatarSpeaking-3MqCHL {
  box-shadow: none;
  border: 2px solid var(--primary-color);
}

.avatar-3elDyV {
  border-radius: var(--avatar-radius);
}

.tooltip-2QfLtc {
  border-radius: 3px;
}

.menu-Sp6bN1, .contextMenu-HLZMGh {
  box-shadow: none;
  background: #100f0f;
}

.itemBase-1Qj4z6, .itemBase-tz5SeC {
  color: white;
}

.separator-2zcjq8 {
  border: none;
}

.itemBase-1Qj4z6:hover, .clickable-11uBi-:hover, .selected-BYpGTS {
  background-color: rgba(255, 255, 255, .08);
  color: white;
}

.itemBase-1Qj4z6:hover.invite-271nFU, .itemBase-tz5SeC.brand-3igrJY:hover {
  color: white;
  background-color: #415dc2;
}

.item-1GzJrl.invite-271nFU, .itemBase-tz5SeC.brand-3igrJY {
  color: #415dc2;
}

.item-1GzJrl.leave-1DRJfn, .itemBase-tz5SeC.danger-2dXSTE {
  color: #c43636;
}

.itemBase-1Qj4z6:hover.leave-1DRJfn, .itemBase-tz5SeC.danger-2dXSTE:hover {
  background-color: #c43636;
  color: white;
}

.itemGroup-1tL0uz {
  border: none;
}

.helper-2c73HK {
  color: silver;
}

.itemActive-2V2HNc {
  background-color: rgba(255, 255, 255, .17);
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
  border-color: var(--primary-color) var(--primary-color) rgba(0,0,0,.3);
}

.theme-dark .lookFilled-1h1y05.select-1Pkeg4:focus {
  border-color: var(--primary-color);
}

.theme-dark .popout-2sKjHu {
  border-color: transparent;
  background: #181818;
}

.moreUsers-7v8yWY {
  background-color: rgba(0, 0, 0, .3);
  color: white;
  border-radius: var(--button-radius);
  padding: 0 4px;
}

.theme-dark .inviteRow-2L02ae:hover {
  background-color: rgba(255, 255, 255, .10);
}

.inviteRowAvatar-EURMT6 foreignObject, .container-3baos1 .avatar-SmRMf2 foreignObject {
  mask: none;
}

.live-vBWnV6, .textBadge-1iylP6 {
  background-color: var(--primary-color) !important;
  padding: 3px 6px;
  color: var(--word-color) !important;
  border: 1px solid black;
}

.bannerImage-1jOskm {
  opacity: .3;
}

.wrapper-CU3qI5, .name-IbjUBS {
  color: white !important;
}

.wrapper-CU3qI5 {
  background-color: rgba(255, 255, 255, .15);
}

.wrapper-pZmgj4 {
  border-radius: var(--button-radius);
  color: var(--word-color);
}

.users-i_3-kL {
  background-color: var(--primary-transparency);
}

.total-3tKGEB {
  background-color: var(--primary-color);
}

.total-3tKGEB:after {
  border-right-color: var(--primary-color);
}

.lowMotionItem-1DvHia,
.wanderingCubesItem-WPXqao {
  background-color: var(--primary-color);
  width: 14px;
  border-radius: 10px;
  height: 14px;
}

.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before, .mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
  background-color: var(--primary-color);
}

.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
  background-color: transparent !important;
}

.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
  background-color:  var(--primary-color) !important; 
}

.theme-dark .attachment-33OFj0, .theme-dark .wrapperAudio-1jDe0Q, .wrapper-35wsBm {
  border-color: transparent;
  background-color: rgba(0,0,0,0.3);
}

.unread-3zKkbm {
  display: none;
}

.modeUnread-1zpFdA .icon-1_QxNX,  .modeUnread-1zpFdA:hover .icon-1_QxNX {
  color: var(--primary-color);
}

.modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_:hover .icon-1_QxNX, .actionIcon-2Hi9ZG,
.icon-3BcwQu, .username-lm8y6T {
  color: var(--word-color);
}

.username-lm8y6T {
  color: var(--word-color);
}

.wrapper-1ucjTd:hover .content-3at_AU, .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
  background-color: var(--primary-transparency);
}

.modeSelected-1zApJ_ .content-3at_AU, .modeSelected-1zApJ_:hover .content-3at_AU, 
.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {
  background-color: var(--primary-color);
}

.modeSelected-1zApJ_ .name-3_Dsmg, .modeSelected-1zApJ_:hover .name-3_Dsmg {
   color: var(--word-color);
}


.theme-dark .bar-2Qqk5Z {
  background: #343434;
}

.theme-dark .bar-2Qqk5Z[style*="background"] {
  background: #343434 !important;
}

.barFill-23-gu- {
  background: var(--primary-color);
}

.barFill-23-gu-[style*="background"] {
  background: var(--primary-color) !important;
}

.mini-dmm9yo .grabber-3mFHz2 {
  border-radius: 0;
}

.grabber-3mFHz2 {
  border-radius: 0;
  background-color: var(--primary-color);
  border: none;
  box-shadow: none;
}

.theme-dark .bubble-3we2di {
  background-color: black;
  color: white;
}

.theme-dark .bubble-3we2di:before {
  border-top-color: transparent;
}

.embedFull-2tM8-- {
  border: none;
  background-color: rgba(0,0,0,.36);
}

.icon-22AiRD {
  color: var(--primary-color);
}

.divider-JfaTT5 {
  border: none;
}

.unreadPill-2HyYtt {
  color: var(--word-color);
  background-color: var(--primary-color);
}

.unreadPillCapStroke-7rkHbg {
  color: var(--primary-color);
  fill: var(--primary-color);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
  background-color: var(--primary-color);
  border-color: transparent;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
  border-color: var(--checkmark-color);
}

.divider-3FBTu8, .children-19S4PO:after {
  background: none;
}

.clickable-3rdHwn .icon-22AiRD, .clickable-3rdHwn:hover .icon-22AiRD,
.topic-TCb_qw {
  color: white;
}

.theme-dark .message-2qRu38 {
  background-color: #0c0c0c;
  box-shadow: none;
}

.zalgo-jN1Ica .messageContent-2qWWxC, .zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
    overflow: visible;
}

.group-spacing-16 .groupStart-23k01U {
  padding: 12px 76px;
}

.wrapper-2a6GCs .avatar-1BDn8e {
  position: absolute;
  left: 0;
  top: .59rem;
  width: 50px;
  height: 50px;
  border-radius: var(--avatar-radius);
  margin-left: 9px;
}

.cozy-3raOZG .header-23xsNx, .base-19D3Qq h1, .container-3-pyIM, .timestamp-1E3uAL,
.cozy-3raOZG .timestamp-3ZCmNB, .welcomeMessage-ULm0mo p, .timestampCompact-29LLPQ {
  color: white;
}

#app-mount .isUnread-3Ef-o9 .content-1o0f9g {
  background-color: var(--primary-color);
  color: var(--word-color);
  padding: 4px 7px;
}

#app-mount .content-1o0f9g {
  padding: 4px 7px;
  color: white;
  background-color: rgba(255, 255, 255, .12);
}

.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover,
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover {
  background: none;
}

.localBot-GrCgVt:before, .mentioned-xhSam7:before {
  display: none;
}

.mentioned-xhSam7 {
  background: none;
  border: 2px outset var(--primary-color);
  box-shadow: inset 0 0 4px 2px var(--primary-color);
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background: none;
  border: none;
}

.scroller-2FKFPG::-webkit-scrollbar {
  width: 7px;
}


.mention {
  padding: 3px 5px;
  border-radius: var(--button-radius);
}

.theme-dark .mentioned-xhSam7 .mention {
  padding: 3px 5px;
  background-color: var(--primary-transparency)!important;
  color: var(--word-color) !important;
  border-radius: var(--button-radius);
}

.wrapper-3WhCwL {
  padding: 3px 7px;
  font-weight: 500;
  color: var(--word-color);
  background: var(--primary-transparency);
  margin-bottom: 6px !important;
}

.wrapper-3WhCwL:hover {
  background: var(--primary-color);
}

.reactionCount-2mvXRV {
  color: white !important;
}

.reaction-1hd86g {
  padding: 2px 3px;
  background: rgba(255,255,255, .12);
}

.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: rgba(114, 218, 164, 0.3);
}

.reactionBtn-3N03Zj, .button-1ZiXG9, .theme-dark .activityIcon-c4ew_N {
  color: white;
}

.wrapper-2aW0bm {
  background-color: var(--primary-transparency);
  box-shadow: none;
}

.separator-42rNt0 {
  background: none;
}

.avatar-3bWpYy, .clickableAvatar-1wQpeh, .emptyUser-7txhlW {
  border-radius: var(--avatar-radius);
}

.messageGroupWrapper-o-Zw7G .avatar-1BDn8e {
  margin-left: 14px;
}

.header-ykumBX {
  background: none;
  box-shadow: none;
}

.messagesPopoutWrap-1MQ1bW {
  background-color: #1a1919;
  box-shadow: none;
}

.messageGroupWrapper-o-Zw7G {
  background: none;
  border: 1px solid var(--primary-color);
}

.jumpButton-3DTcS_, .jumpButton-Ia2hRJ {
  color: var(--word-color) !important;
  background-color: var(--primary-color);
}

.botTag-2WPJ74 {
  background-color: var(--primary-color);
  padding: 3px 6px;
  color: var(--word-color);
}

.button-1ZiXG9:hover {
  color: white;
  background-color: rgba(0,0,0,.3);
}

.guildName-1Bc3Ta {
  color: silver;
}

.theme-dark .container-3ayLPN {
  background-color: #17181a;
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
  color: white;
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,  .theme-dark .option-96V44q .answer-1n6g43,
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
  color: #d2d2d2;
}
.theme-dark .option-96V44q .nonText-3CRkO0 {
  color: #3f3f3f;
}

.theme-dark .option-96V44q strong, .theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
  color: white;
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-, .theme-dark .option-96V44q .filter-3Y_im- {
  color: #a7a7a7;
}

.theme-dark .option-96V44q:after, .theme-dark .option-96V44q.selected-rZcOL-:after {
  background: none;
}

.theme-dark .option-96V44q.selected-rZcOL-, .theme-dark .focused-2bY0OD {
  background-color: var(--primary-transparency);
}

.option-96V44q.user-O3Czj0 .displayAvatar-1wWlVM {
  border-radius: var(--avatar-radius);
}

.theme-dark .searchResultChannelCategory-1l0lSn, .theme-dark .searchResultChannelIcon-1DnTme {
  color: silver;
}

.theme-dark .queryContainer-RKFJW- {
  color: white;
  border-bottom-color: transparent;
}

.theme-dark .resultsGroup-r_nuzN:before {
  border: none;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
  background-color: var(--primary-color);
  color: var(--word-color);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
  background-color: var(--primary-transparency) !important;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
  border: 1px solid var(--primary-color);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
  background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
  border-color: transparent;
  background-color: rgba(0,0,0,.26);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
  border-bottom-color: transparent;
  color: white;
}

.calendarPicker-2yf6Ci .react-datepicker__month *, .theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
  border: none !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: #121212;
  color: rgba(246,246,247,.3);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  background-color: #1b1b1c;
  color:rgba(246,246,247,.6);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
  background-color: var(--primary-color);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
  background-color: var(--primary-color);
}

.searchResultMessage-2VxO12.hit-NLlWXA {
  box-shadow: none;
  background-color: rgba(0,0,0,.66);
  border: none;
  padding: 0 12px;
}

.searchHeader-1l-wpR {
  color: white;
  box-shadow: none;
}

.searchResultsWrap-2DKFzt {
  background-color: #151515;
}

.searchResult-3pzFAB:after, .searchResult-3pzFAB:before {
  background: none;
}

.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  background-color: transparent;
  border-color: var(--primary-color);
}

.searchResult-3pzFAB.expanded-v2Szsz {
  border: none;
  background-color: transparent;
}

.channelName-1QajIf {
  border: none;
  color: white;
  background-color: var(--primary-transparency);
  padding: 8px 17px;
  border-bottom: 1px solid var(--primary-color);
}

.channelSeparator-1X1FuH:before {
  border: none;
}

.membersGroup-v9BXpm {
  padding: 10px 8px 0 6px;
  height: 34px;
  text-align: center;
  color: white;
  background-color: var(--primary-transparency);
}

.avatar-3uk_u9 foreignObject, 
.avatarWrapperNormal-3wFMbf foreignObject,
.avatar-3EQepX foreignObject, 
.listAvatar-1NlAhb foreignObject, 
.content-Qb0rXO foreignObject {
  mask: none;
}

.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i,
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx-, .note-3kmerW textarea {
  color: white;
}

.clickable-1JJAn8:hover .layout-2DM8Md {
  background-color: rgba(0,0,0,.16);
}

.selected-aXhQR6 .layout-2DM8Md {
  background-color: var(--primary-color);
  -webkit-text-fill-color: var(--word-color);
}

.theme-dark .headerNormal-T_seeN,
.theme-dark .bodyInner-245q0L, 
.theme-dark .footer-1fjuF6, 
.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P,
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X,
.topSectionNormal-2-vo2m,
.body-3ND3kc,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n {
  background-color: rgba(0, 0, 0, 0.56);
}

.root-SR8cQa {
  background: none;
}

.buttonInvertedPurple-WtBglX {
    color: white;
    background-color: transparent;
    border: 2px solid #5b2099;
}

.buttonInvertedPurple-WtBglX:hover {
    color: white;
    background-color: #5b2099;
}

.iconBadge-qZ4Ksk {
  background-color: var(--primary-color);
}

.avatarWrapperNormal-3wFMbf .wrapper-3t9DeA,
.avatar-3EQepX.wrapper-3t9DeA {
  width: 100px !important; 
  height: 100px !important;
}

.avatarHint-1qgaV3 {
  width: 100px;
  height: 100px;
}

.bodyTitle-Y0qMQz, .userInfoSectionHeader-CBvMDh {
  color: #ffffff;
  background-color: rgba(255,255,255, .23);
  padding: 5px 8px;
}

.note-3kmerW textarea:focus {
  background-color: rgba(0,0,0,.46);
}

.protip-YaFfgO {
  display: none;
}

.theme-dark .quickMessage-1yeL4E {
  background-color: rgba(0,0,0,.26);
  border-color: var(--primary-color);
  color: white;
}

.userInfoSection-2acyCx+.userInfoSection-2acyCx, .connectedAccount-36nQx7, .tabBarContainer-1s1u-z {
  border: none;
}

.connectedAccount-36nQx7 {
  background-color: var(--primary-transparency);
}

.listRow-hutiT_, .guildNick-3uAm3i, .listName-3w10cx, .connectedAccountName-f8AEe2, .activity-2Gy-9S,
.body-bvcIjN, .checkboxLabel-1zn0UC  {
  color: white;
}

.tip-2ab612 {
  color: white;
  opacity: 1;
}

.contentWrapper-2txmjs,
#bda-qem-twitch-container, 
#bda-qem-favourite-container {
  background-color: #171717;
  box-shadow: none;
  border-radius: 0;
}

.categoryWrapper-UZ5YNj {
  background-color: var(--primary-transparency);
}


.footer-1kmXd4, .inspector-sdLnLS, .wrapper-2N7X54 {
  background: none;
}

.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
  border-bottom-color: var(--primary-color);
  border-bottom-width: 3px;
  border-style: solid;
  background: none;
}

.navButtonActive-3RPAJy.active, .navButtonActive-3RPAJy.active:hover {
  background-color: var(--primary-color);
  color: var(--word-color);
}

.navButtonActive-3RPAJy:hover {
  background: var(--primary-transparency);
}

.navButtonActive-3RPAJy {
  border-left: none;
  background: rgba(0,0,0,.6);
  box-shadow: none;
  color: var(--word-color);
}

.diversitySelectorPopout-3FiGaM {
  background-color: rgba(0,0,0,.4);
  border: none;
}

.diversityEmojiItem-L6_IXw:hover {
  background-color: rgba(0,0,0,.6);
}



.theme-dark .autocomplete-1vrmpx {
  background-color: #151515;
}

.theme-dark .contentTitle-2tG_sM, .theme-dark .content-Qb0rXO,
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8 {
  color: white;
}

.theme-dark .descriptionDiscriminator-3vUOCc {
  color: silver;
}

.theme-dark .iconForeground-1w5n7R {
  fill: silver;
}

.theme-dark .selectorSelected-1_M1WV {
  background-color: var(--primary-transparency);
}

.theme-dark .divider-23swzi, .form-2fGMdU:before, .channelTextArea-rNsIhG {
  background: none;
}

.theme-dark .selectorSelected-1_M1WV .horizontal-1ae9ci>.flexChild-faoVW3[style*="color"] {
  color: white !important;
}

.scrollableContainer-2NUZem {
  border: 2px solid var(--primary-color);
  background-color: rgba(0, 0, 0, 0.26);
}

.attachWrapper-2TRKBi, .divider-24xeUg {
  border: none;
}

.textArea-12jD-V, .placeholder-37qJjk, .slateTextArea-1Mkdgw .hljs-comment, .slateTextArea-1Mkdgw .hljs-quote,
.codeBlockSyntax-2i-tMA, .syntaxAfter-hcA4AH, .syntaxBefore-1YQ9lW, .icon-KgGMGo, .hljs,
.theme-dark .operations-36ENbA {
  color: white;
}

.slateTextArea-1Mkdgw {
  caret-color: white;
}

.after_inlineCode-1KfVgj, .before_inlineCode-1G9rTK, .inlineCode-2ngu6Y {
  background: rgba(0,0,0,.26);
  padding: .4em 0;
}

.active-2HPddW, .hover-28QbSq:hover {
  background-color: rgba(0,0,0,.36);
}

.toolbar-2bjZV7:before {
  border-top: 8px solid var(--primary-color);
}

.toolbar-2bjZV7 {
  background-color: var(--primary-color);
  box-shadow: none;
}

*::-webkit-input-placeholder {
  color: white !important;
}

.markup-2BOw-j code {
  background: rgba(0,0,0,.36);
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 12px 2px var(--primary-color);
  padding: 6px 5px;
}

.markup-2BOw-j code.inline {
  padding: 6px 5px;
}

.edited-DL9ECl {
  color: #e3e3e3;
}

.uploadArea-3QgLtW {
  background: rgba(0,0,0,.4);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
  background: var(--primary-color);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
  border: none;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .title-2Vtl4y,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .instructions-2Du9gG {
  color: var(--word-color);
}

.bd-toast.toast-success {
  background-color: #269658;
}

.bd-toast {
  background: #2b2d2b;
  border-radius: 0;
  box-shadow: none;
}

#app-mount .barBase-39XTcM {
  background-color: var(--primary-color);
  opacity: .75;
}

.avatarContainerMasked-PIJ-3L foreignObject {
  mask: none
}

.guildIconExpired-2Qcq05 {
  background-color: transparent;
}

.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar, 
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar {
  width: 0;
}

.voiceSectionGuildImage-3HwnfL, .voiceSectionNoGuildImageWrapper-TicZR3 {
  border-radius: var(--avatar-radius);
  -webkit-mask: none;
  mask: none;
}

.partyMember-1CzxeX, .partyMember-1CzxeX:last-child {
  -webkit-mask: none;
  mask: none;
}

.partyMember-1CzxeX foreignObject, .callAvatarMask-1SLlRi foreignObject, .headerAvatar-2MDZJn foreignObject,
.memberListItem-31QoHj foreignObject {
  mask: none;
}

.theme-dark .enabled-1t_Gxm:hover, .theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.voiceSectionAssets-1gjfmz, .videoAvatar-1ohPSC, .voiceAvatar-14IynY {
  border-radius: var(--avatar-radius);
}

.theme-dark .voiceSectionIconWrapper-FO7UEY {
  background-color: black;
  border-radius: var(--button-radius);
}

.theme-dark .voiceSectionIcon-1b3cOo, 
.theme-dark .xboxSectionIcon-1Y8MqF {
  color: white;
}

.border-Jn5IOt.video-3SrWSI.speaking-B2MXPi,
.border-Jn5IOt.voice-3bPYC-.speaking-B2MXPi {
  box-shadow: none;
  border: 5px solid var(--primary-color);
  border-radius: var(--avatar-radius);
}



.status-1WEaea.voice-3bPYC- {
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
}

.wrapper-2qzCYF {
  background-color: transparent;
}


.quickSelectPopoutOption-opKBx9 {
  background: #121212;
  color: white;
}

.theme-dark .regionSelectName-c5qL8O {
  color: white;
}

.theme-dark .quickSelectPopoutOption-opKBx9:hover {
  background-color: rgba(0, 0, 0, .3);
}

.theme-dark .separator-XqIyoz, .privateChannels-1nO12o, .scroller-1JbKMe {
  background: none;
}


.searchBar-6Kv8R2 {
  box-shadow: none;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  background-color: rgba(0,0,0,.26);
  color: white;
}

.channel-2QD9_O {
  color: #dcdcdc;
}

.privateChannelsHeaderContainer-Gcpv_s {
  color: silver;
}

.theme-dark .container-1D34oG {
  background-color: transparent;
}

.tabBody-3YRQ8W:before {
  box-shadow: none;
}

.tag-2gHSR7 {
  border-radius: var(--button-radius);
  background-color: var(--primary-color);
  color: var(--word-color);
}

.theme-dark .friendSelected-1sa4bG {
  background-color: rgba(0, 0, 0, .3);
}

.theme-dark .friend-3KALPe, .header-13Cw0- {
  color: white;
}

.friend-3KALPe .avatar-vr5NCN foreignObject, .avatar-3W3CeO foreignObject {
  mask: none;
}

#app-mount .tabBar-ZmDY9v .item-3HknzM[style*="background-color"] {
  background-color: #369136 !important;
  color: white !important;
}

.theme-dark .sectionHeader-20RGqu, .peopleListItem-2nzedh {
  border: none;
}

.wrapper-1cBijl {
  border: none;
  background-color: rgba(0,0,0,.26);
}

.title-30qZAO {
  color: white;
}

.actionButton-uPB8Fs {
  border-radius: var(--button-radius);
  color: var(--word-color) !important;
  background-color: var(--primary-transparency);
}

.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
  background-color: #e32a2a!important;
  color: white !important;
}

.actionButton-uPB8Fs:hover, .actionButton-uPB8Fs.highlight-Lf97TE {
  background-color: var(--primary-color);
}

.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover, .wrapper-3D2qGf {
  background: rgba(0,0,0,.26);
}

.nowPlayingColumn-2sl4cE {
  background: none;
}

.theme-dark .inset-3sAvek {
  background-color: rgba(0,0,0,.46);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
  background-color: rgba(0,0,0,.26);
  border: 2px solid var(--primary-color);
}

.theme-dark .uploadModal-2ifh8j {
  background-color: #1e1e1e;
  box-shadow: none;
}

.theme-dark .footer-3mqk7D {
  background-color: transparent;
  box-shadow: none;
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  background-color: var(--primary-color);
  box-shadow: none;
}

.cardPrimaryOutline-29Ujqw {
  border-color: black;
}

.theme-dark .inputPrefix-2VAOGg {
  opacity: 1;
  color: white;
}

.theme-dark .multiInputLast-1aQ3YA:before {
  border: none;
}

.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT foreignObject, 
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 foreignObject {
  mask: none;
}

#app-mount .gameName-1RiWHm, #app-mount .lastPlayed-3bQ7Bo, #app-mount .overlayStatusText-L2IACa {
  color: white;
}

#app-mount .gameNameInput-385LoS:focus, #app-mount .gameNameInput-385LoS:hover {
  border-color: transparent;
  background-color: rgba(0,0,0,.3);
  padding: 2px 8px;
}

#app-mount .gameNameInput-385LoS {
  padding: 2px 8px;
}

.theme-dark .nowPlaying-284llR {
  background-color: #2b9832;
}

.theme-dark .addGamePopout-2RY8Ju {
  background-color: #212121;
}

.theme-dark .game-1ipmAa {
  box-shadow: none;
}

.theme-dark .notDetected-33MY4s {
  background-color: #0f1010;
}

.cardPrimary-1Hv-to, 
.cardPrimaryEditable-3KtE4g {
  border-color: transparent;
}

.cardPrimary-1Hv-to {
  background: rgba(0,0,0,.3);
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
  background-color: rgba(0, 0, 0, 0.32);
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
  background-color: rgba(0, 0, 0, 0.42);
}

.theme-dark .bottomDivider-1K9Gao, .theme-dark .paymentHeader-3QlZQi,
.theme-dark .sectionAccountCredit-1uNhnJ, .theme-dark .subscriptionDetails-1dUmjl,
.marketingRefreshTier2Cta-bw9Vyc, .guildsSection-3AvK09, .featureBorder-7j4v58,
.theme-dark .bda-slist .bda-footer {
  border: none;
}


.theme-dark .paymentPane-3bwJ6A {
  background-color: transparent;
  color: white;
}

.theme-dark .paginator-166-09 {
  background-color: transparent;
}

.theme-dark .paginator-2CA79G, .theme-dark .paymentText-2vaF7U, .billingInformation-1MZXzx {
  color: white;
}

.theme-dark .payment-xT17Mq {
  background-color: rgba(0,0,0,.16);
  color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
  background-color: rgba(0,0,0,.36);
}

.theme-dark .expandedInfo-3kfShd, .detailsBlock-FoDTGA {
  background-color: rgba(0,0,0,.36);
}

#app-mount .pageActions-1SVAnA * {
  border: none;
  color: white;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: rgba(0,0,0,.5);
  border-color: transparent;
}

.divider-J3ken9, .theme-dark .markDash-3hAolZ {
  background: none;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: transparent;
  border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video, .preview-2nSL_2 {
  background-color: rgba(0,0,0,.3);
}

.notificationsSound-27jFSh {
  box-shadow: none;
  color: white;
}

.theme-dark .row-2okwlC, .theme-dark .item-3eFBNF {
  box-shadow: none;
}

.item-3eFBNF.selected-2DeaDa {
  background-color: rgba(0,0,0,.26);
}

.theme-dark .markValue-2DwdXI, .theme-dark .content-8biNdB ol, 
.theme-dark .content-8biNdB p, .theme-dark .content-8biNdB ul li {
  color: white;
}

.round-2jCFai {
  border-radius: var(--button-radius);
} 

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
  color: silver;
  border: none;
}

.bd-pfbtn, .bda-slist .bda-footer button {
  background: var(--primary-color);
  color: var(--word-color);
  border-radius: var(--button-radius);
  padding: 4px 12px;
}

.theme-dark .bda-slist li {
  background-color: rgba(0, 0, 0, .22);
  color: white;
  border-color: transparent;
}

.theme-dark .bda-slist .bda-header {
  color: white;
  border-bottom-color: transparent;
}

.theme-dark .bda-slist .bda-description, .standardSidebarView-3F1I7i #editor-detached h3 {
  color: silver;
}

.standardSidebarView-3F1I7i #editor-detached button {
  margin-left: calc(50% - 60px);
  background: var(--primary-color);
  color: var(--word-color);
  width: 120px;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
  background: rgba(0,0,0,.36);
  box-shadow: none;
}

#bd-customcss-attach-controls .help-text .inline {
  background: var(--primary-transparency);
  padding: .3em;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
  background: var(--primary-transparency);
  color: var(--word-color);
  border-radius: var(--button-radius);
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  background: var(--primary-color);
}

.quickswitcher-3JagVE {
  box-shadow: none;
  background-color: #171717;
  color: white;
}

.scroller-zPkAnE {
  background-color: transparent;
}

.input-2VB9rf {
  background-color: #121212;
  border: 2px solid var(--primary-color);
  color: white;
  box-shadow: none;
}

.emptyStateCTA-veJ2Cu, .username-2hHyRL {
  opacity: 1;
}

.emptyStateNote-ZYTetQ, .contentDefault-16dKSY, .misc-1CT3G7 {
  color: white;
}

.resultFocused-3aIoYe {
  background: #121212;
}

.note-S--UP5 {
  color: silver;
}

#app-mount .avatar-VxgULZ, #app-mount .wrapper-3t9DeA, #app-mount .mask-1l8v16 {
  border-radius: var(--avatar-radius) !important;
}

.tipsWithoutResults-lGY-De, .tipsWithResults-HhTE9b {
  border-top: none;
  color: white;
}

.theme-dark .keybindShortcutTipsSelect-HDyfe8:last-of-type:before {
  background-color: transparent;
}

.avatarSizeOverride-2KySyz foreignObject {
  mask: none;
}

.svg-1X37T1 > mask {
  display: none;
}

.standardSidebarView-3F1I7i a, .footer-3rDWdC a, .helpText-h3r3wC a, .colorStandard-2KCXvj a,
.fakeLink-26oLcc, .metadataContent-3c_ZXw a, .markup-2BOw-j a, .topic-TCb_qw a, .theme-dark .filenameLinkWrapper-1-14c5,
.theme-dark .filenameLinkWrapper-1-14c5 a, .welcomeMessage-ULm0mo a, .checkboxLabel-1zn0UC a,
.operations-36ENbA>a, .lookLink-9FtZy-.colorLink-35jkBc, .bda-slist .bda-footer a, .emptyStateCTA-veJ2Cu a {
  color: #c8ff00;
}

.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
  background-image: linear-gradient(0deg,transparent,transparent 1px,#c8ff00 0,#c8ff00 2px,transparent 0);
}
