#app-mount .app-2rEoOp {
    font-family: 'Nunito', serif;
    background-color: transparent;
    background-image: var(--background-image);
    background-size: cover;
}

.overflow-3zpvTV {
    background-color: var(--primary-color);
    color: var(--word-color);
}

.wrapper-2qzCYF {
	background-color: transparent;
	overflow: visible;
}

.tile-2naSqK {
  background-color: rgba(0, 0, 0, .3);
}

.avatarWrapper-29j3CC {
	border-radius: var(--avatar-radius);
}

.avatarWrapper-29j3CC foreignObject {
	mask: none;
}

.avatarWrapper-29j3CC .avatar-VxgULZ {
	border-radius: var(--avatar-radius);
}

.layers-3iHuyZ {
    background-color: var(--background-opacity);
}

.protip-1b9XPC {
    border-top: none;
}

.autocompleteQuerySymbol-1kyGZ5 {
    background-color: var(--primary-color);
}

.bg-h5JY_x,
.theme-dark .layer-3QrUeG,
.wrapper-1Rf91z,
.scroller-2TZvBN {
    background-color: transparent;
}

.childWrapper-anI2G9 {
    background-color: var(--primary-transparency);
    color: var(--word-color);
    border-radius: var(--avatar-radius);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, 
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: var(--word-color);
    background-color: var(--primary-color);
}

.guildSeparator-3s64Iy {
    background: none;
}

.svg-1X37T1 > mask {
    display: none;
}

.folder-21wGz3 {
    background-color: rgba(0,0,0,.3) !important;
    border-radius: var(--avatar-radius);
}

.iconInactive-98JN5i,
.icon-27yU2q,
.folderIconWrapper-226oVY {
    border-radius: var(--avatar-radius);
}

.expandedFolderBackground-2sPsd- {
    background-color: rgba(0,0,0,.3);
    border-radius: var(--avatar-radius);
}

.overflow-3zpvTV {
    border-radius: var(--avatar-radius);
}

.wrapper-sa6paO {
    overflow: visible;
    z-index: 1;
}

.item-2hkk8m {
    width: 17px;
    height: 17px !important;
    border-radius: var(--button-radius);
    margin-left: 12px;
    margin-top: -16px;
    border: 2px solid rgba(0, 0, 0, .7);
    background-color: var(--primary-transparency);
}

.wrapper-3vR61M,
.wrapper-1F5TKx {
    background-color: transparent;
    overflow: visible;
}

.guildsError-b7zR5H,
.theme-dark .guildIconUnavailable-5PMHDN {
    background: #5a1509;
    border-color: #c42623;
    border-radius: var(--button-radius);
}

.guildsError-b7zR5H:hover {
    background-color: #c42623;
}

.theme-dark .tooltipRed-8-9NeP {
    color: white;
    background-color: #c42623;
}

.theme-dark .tooltip-2QfLtc {
    box-shadow: none;
    color: var(--word-color);
}

.tooltip-2QfLtc {
    border-radius: var(--button-radius);
}

.wanderingCubesItem-WPXqao {
    background-color: var(--primary-color);
    width: 14px;
    border-radius: 3px;
    height: 14px;
}

.mediaBarGrabber-1FqnbN, 
.mediaBarProgress-1xaPtl, 
.mediaBarProgress-1xaPtl:after, 
.mediaBarProgress-1xaPtl:before,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: var(--primary-color);
}

.progress-3Rbvu0[style*="background-color: rgb(233, 231, 231);"] {
    background-color: transparent !important;
}

.small-1CUeBa[style*="background-color: rgb(114, 137, 218);"] {
    background-color:  var(--primary-color) !important; 
}

.tooltipPointer-3ZfirK {
    border: none;
}

.numberBadge-2s8kKX {
    background-color: var(--primary-color) !important;
}

.base-PmTxvP {
    border-radius: var(--button-radius);
    min-width: 20px;
    min-height: 20px;
    color: var(--word-color);
}

.mention-1f5kbO {
    background-color: var(--primary-transparency);
    border-radius: var(--button-radius);
}

.mention-1f5kbO:hover {
    opacity: .8;
    background-color: var(--primary-color);
}

.mention-1f5kbO:active {
    background-color: var(--primary-color);
    opacity: 1;
}

.unread-1xRYoj {
    display: none;
}

.theme-dark .tooltipBlack-PPG47z,
.theme-dark .tooltipGrey-1hnvTt {
    background-color: var(--primary-color);
}

.circleIconButton-jET_ig.selected-ugP_am {
    color: var(--word-color);
    background-color: var(--primary-color);
}

.circleIconButton-jET_ig {
    border-radius: var(--button-radius);
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, .7);
}

.iconBadge-2wi9r4 {
    background-color: #141414;
}

.backdrop-1wrmKB, 
.backdropWithLayer-3_uhz4 {
    background-color: rgba(0, 0, 0, .7) !important;
    opacity: .5 !important;
}

.theme-dark .root-1gCeng {
    background-color: black;
    box-shadow: none;
}

.input--jS-j2 {
    background-color: transparent;
}

.container-UC8Ug1 {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    background-color: rgba(0, 0, 0, .4);
}

.colorHeaderSecondary-3Sp3Ft {
    color: white;
}

.header-3ZP1MY {
    color: white;
}

.theme-light .action-1lSjCi {
    border-color: transparent;
    background: transparent;
    border-radius: 3px;
}

.create-3jownz .colorStandard-2KCXvj,
.title-2Dc-Cb {
    color: #006ae4;
}
.join-33Tr-7 .colorStandard-2KCXvj,
.title-2CFvp_,
.sampleLink-KPFu3I {
    color: #009620;
}

.lookOutlined-3sRXeN.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.colorable-1bkp8v.green-plH-Mj {
    color: white;
    background-color: #009620;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.colorable-1bkp8v.green-plH-Mj.active-1QRrIS, 
.colorable-1bkp8v.green-plH-Mj:hover {
    background-color: #076e1d;
}

.lookFilled-1Gx00P.colorBrand-3pXr91,
.lookOutlined-3sRXeN.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    color: #fff;
    background-color: #006ae4;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: #014899;
}

.lookOutlined-3sRXeN {
    border: none;
}

.theme-light .modal-yWgWj-,
.theme-dark .modal-yWgWj- {
    background: #141414;
    box-shadow: none;
    border: 2px solid var(--primary-color);
}


.modal-yWgWj- {
    border-radius: 3px;
}

.description-QF3836,
.avatarUploader-3XDtmn .sizeInfo-SKMPPw,
.label-wQQoIq,
.helpText-h3r3wC,
.description-Bw8krY,
.inputLabel-vJ2Z0B {
    color: white;
}

.theme-light .avatar-21196O,
.theme-dark .avatar-21196O {
    border-color: transparent;
}

.avatarUploaderInner-3UNxY3 {
    border-radius: 3px;
    background-color: var(--primary-color);
}

.avatarUploaderInner-3UNxY3>* {
    color: var(--word-color);
}

.bda-dark .root-1gCeng .input-1mgnkM,
.theme-light .input-1mgnkM,
.theme-dark .input-1mgnkM,
.theme-light .input-UJ9Tr3,
.theme-dark .input-UJ9Tr3 {
    color: white;
    border-bottom-color: transparent;
}

.theme-light .footer-2gL1pp,
.theme-dark .footer-2gL1pp {
    background-color: transparent;
    box-shadow: none;
}
.footer-2gL1pp {
    border-radius: 0 0 3px 3px;
}

.clickCTA-kIMiUd {
    color: var(--word-color);
}

.colorMuted-HdFt4q,
.colorStandard-2KCXvj,
.note-S--UP5 {
    color: silver;
}

.sidebar-2K8pFh {
    background-color: transparent;
}

.searchBar-6Kv8R2 {
    border-radius: 0;
    padding: 0px;
    height: 32px;
    box-shadow: none;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    height: 34px;
    border-radius: 0;
    background-color: rgba(0,0,0,.3);
    box-shadow: none;
    color: white;
}

.quickswitcher-3JagVE {
    border-radius: 3px;
    box-shadow: none;
    background-color: #181818;
    color: white;
    border: 2px solid var(--primary-color);
}

.scroller-zPkAnE {
    background-color: transparent;
}

.scroller-zPkAnE::-webkit-scrollbar-track {
    background-color: transparent!important;
}

.input-2VB9rf {
    font-size: 26px;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}

::-webkit-input-placeholder {
    color: white !important;
}

.protip-1b9XPC {
    border: none;
}

.resultFocused-3aIoYe {
    background-color: transparent;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.miscContainer-2ptJ_C {
    opacity: .8;
}

.icon-22AiRD,
.quickSelect-3BxO0K,
.quickSelectLabel-2r3iJ_,
.contentDefault-16dKSY,
.misc-1CT3G7,
.emptyStateNote-ZYTetQ {
    color: white;
}

.emptyStateCTA-veJ2Cu {
    opacity: 1;
}

.avatarSizeOverride-2KySyz foreignObject {
    mask: none;
}

.avatarSizeOverride-2KySyz .avatar-VxgULZ {
    border-radius: var(--avatar-radius);
}

.thin-1ybCId::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: var(--primary-color);
}

.thin-1ybCId::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
}

.nowPlayingColumn-2sl4cE,
.theme-dark .container-1D34oG,
.theme-dark .container-1r6BKw {
    background: transparent;
}
.container-1r6BKw,
.theme-dark .voiceSectionIcon-1b3cOo, 
.theme-dark .xboxSectionIcon-1Y8MqF,
.header-13Cw0-,
.input-1Rv96N,
.title-30qZAO {
    color: white;
}

.theme-dark .voiceSectionIconWrapper-FO7UEY {
    background-color: black;
    border-radius: var(--button-radius);
}

.voiceSectionGuildImage-3HwnfL, 
.voiceSectionNoGuildImageWrapper-TicZR3 {
    border-radius: 3px;
    -webkit-mask: none;
    mask: none;
}

.tag-2gHSR7 {
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--word-color);
}

.container-2XeR5Z {
    border-radius: 3px;
    background-color: transparent;
    border-top: 1px solid var(--primary-color);
}

.theme-dark .checked-3_4uQ9[style*="border-color"] {
    border-color: transparent !important;
    background-color: var(--primary-color) !important;
}

.theme-dark .checked-3_4uQ9[style*="border-color"] path {
    fill: var(--word-color);
}

.selected-3s45Ha.item-PXvHYJ, 
.selected-3s45Ha.item-PXvHYJ:hover {
    color: var(--word-color);
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, 
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--primary-color) !important;
}

.themed-OHr7kt.item-PXvHYJ,
.themed-OHr7kt.item-PXvHYJ:hover {
    color: var(--word-color);
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, 
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: var(--primary-transparency);
}

.wrapper-3D2qGf,
.outer-1AjyKL {
    background-color: rgba(0, 0, 0, .5) !important;
}

.theme-dark .inset-3sAvek {
    background-color: transparent;
}

.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"] {
    background-color: #009620 !important;
    color: white !important;
}

.tabBar-ZmDY9v .item-3HknzM[style*="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
    background-color: #076e1d !important;
    color: white !important;
}

.theme-dark .sectionHeader-20RGqu {
    border-bottom: none;
}

.wrapper-1cBijl {
    border-radius: 3px;
    border: none;
    background-color: rgba(0, 0, 0, .3);
}

.peopleListItem-2nzedh {
    border: none;
}

.actionButton-uPB8Fs {
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.actionButton-uPB8Fs.actionDeny-de_uKj:hover {
    color: white!important;
    background-color: #e02121 !important;
}

.actionButton-uPB8Fs:hover,
.body-bvcIjN {
    color: white;
}

.actionButton-uPB8Fs.highlight-Lf97TE {
    background-color: var(--primary-transparency);
}

.colorDanger-2qLCe1.focused-3afm-j {
    background-color: #e02121 !important;
    color: #fff;
}

.tabBody-3YRQ8W:before {
    box-shadow: none;
}

.header-ykumBX {
    background-color: transparent;
    box-shadow: none;
}

.footer-1kmXd4 {
    background-color: transparent;
}

.tip-2ab612 {
    opacity: 1;
}

.messagesPopoutWrap-1MQ1bW,
.container-enaOkj {
    background: linear-gradient(145deg, rgba(0,0,0,1) 30%, var(--primary-color) 100%);
    box-shadow: none;
    border-radius: 3px;
}

.secondary-dIudih,
.tutorialIcon-3f1miQ {
    background-color: var(--primary-transparency) !important;
    color: var(--word-color);
}

.button-1-5Aqk,
.tutorialIcon-3f1miQ {
    border-radius: var(--button-radius);
}

.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
}

.tutorial-3w5I9h {
    background-color: rgba(0, 0, 0, .6);
    border: 2px solid var(--primary-color);
    border-radius: var(--button-radius);
}

.tertiary-aMXF0g {
    background-color: rgba(0, 0, 0, .6) !important;
    border-radius: var(--button-radius);
}

.channelHeader-3Gd2xq {
    background: none;
}

.divider-JfaTT5 {
    border: none;
}

.content-1o0f9g {
    color: var(--word-color);
    background: var(--primary-color);
    border-radius: var(--button-radius);
    padding: 6px 8px;
}

.cozy-3raOZG .header-23xsNx,
.theme-dark .username-1A8OIy,
.cozy-3raOZG .timestamp-3ZCmNB,
.icon-3cZ1F_,
.categoryItemDefaultCategorySelected-_HCKoz .categoryIcon-1SvUHG, 
.categoryItemDefaultCategorySelected-_HCKoz:hover .categoryIcon-1SvUHG,
.markup-2BOw-j,
.channel-2QD9_O,
.privateChannelsHeaderContainer-3NB1K1,
.input-3Xdcic,
.icon-1S6UIr {
    color: white;
}

.zalgo-jN1Ica.cozy-3raOZG .header-23xsNx,
.zalgo-jN1Ica .messageContent-2qWWxC {
    overflow: visible;
}

.messages-3G3erD {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
}

.unreadPill-2HyYtt {
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
    color: var(--word-color);
    background-color: var(--primary-color);
}

.unreadPillCapStroke-7rkHbg {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.jumpButton-2dvRSC {
    background-color: var(--primary-color);
    padding: 4px 11px;
}

.jumpButton-2dvRSC .text-3KVtey {
    color: var(--word-color) !important;
}

.avatar-1BDn8e {
    width: 45px;
    height: 45px;
    border-radius: var(--avatar-radius);
    overflow: visible;
}

.reactionCount-2mvXRV {
    color: white !important;
}

.reaction-1hd86g .emoji {
    width: 1.4rem;
    height: 1.4rem;
}

.iconActiveMedium-1UaEIR {
    border-radius: 3px;
}

.guildIcon-3Co6k-,
.scroller-1JbKMe,
.privateChannels-1nO12o {
    background-color: transparent;
}

.isUnread-3Ef-o9 .content-1o0f9g {
    color: white;
    background-color: rgba(0, 0, 0, .5);
}

.reaction-1hd86g {
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
}

.selected-aXhQR6 .layout-2DM8Md,
.listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .content-1Wq3SX {
    background-color: var(--primary-transparency);
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(24, 207, 55, .4);
}

.header-8ilj5e {
    box-shadow: none;
}

.emojiPicker-3PwZFl {
    background: linear-gradient(145deg, rgba(0,0,0,1) 30%, var(--primary-color) 100%);
    border-radius: 3px;
    box-shadow: none;
    overflow: visible;
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV,
.wrapper-1-Fsb8,
.diversitySelectorPopout-3FiGaM {
    background-color: rgba(0, 0, 0, .4);
}


.diversityEmojiItem-L6_IXw:hover {
    background-color: black;
}

.guildIcon-3h-1IH {
    background-color: transparent;
    color: white;
}

.inspector-S2gM3e,
.wrapper-2Gsate {
    background-color: transparent;
    overflow: visible;
}

.unicodeShortcut-15J8Ck {
    color: white !important;
}

.categoryItemDefaultCategorySelected-_HCKoz, 
.categoryItemDefaultCategorySelected-_HCKoz:hover,
.scroller-1IIF0A,
.scroller-2XE8rp,
.applicationStore-1pNvnv,
.scroller-9moviB {
    background-color: transparent;
}

.divider-3573oO,
.marketingRefreshTier2Cta-bw9Vyc,
.theme-dark .sectionAccountCredit-1uNhnJ, 
.theme-dark .subscriptionDetails-1dUmjl {
    border: none;
}

.libraryHeader-3g95kE:before,
.theme-dark .installationPath-3cStrB {
    box-shadow: none;
}

.bd-switch {
    background-color: rgba(0, 0, 0, .4);
    border-radius: var(--button-radius);
}

.sizeMini-1ii40f,
.bd-switch::after {
    border-radius: var(--button-radius);
}

.bd-switch-checked {
    background-color: var(--primary-color);
}

/* Regular Switch Deactivated */
.container-3auIfb {
	border-radius: 5px;
	background-color: var(--primary-transparency) !important;
}

.container-3auIfb rect {
	fill: red;
	rx: 5;
}
.container-3auIfb path {
	fill: white;
}
/* Regular Switch Deactivated */


/* Regular Switch Activated */
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] {
	background-color: var(--primary-color) !important;
}
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] rect {
	fill: #11df3d;
	rx: 5;
}
.container-3auIfb[style*="background-color: rgb(67, 181, 129);"] path {
	fill: white;
}
/* Regular Switch Activated */

.lookFilled-22uAsw.select-2fjwPw {
	background-color: rgba(0, 0, 0, .6);
	border-color: var(--primary-color);
}

.detailsBlock-FoDTGA {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
}

.popout-VcNcHB {
    border-color: transparent;
    background: black;
}


.option-3KoAJB[aria-selected=true], 
.option-3KoAJB:focus {
    background: none;
    border-bottom: 1px solid var(--primary-color);
}

.selectedIcon-3uS11H {
    color: white;
 }

.option-3KoAJB:hover {
    background: none;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.lookFilled-22uAsw.select-2fjwPw:focus {
    border-color: var(--primary-color);
}

.lookFilled-22uAsw.select-2fjwPw:hover.open-kZ53_U, 
.lookFilled-22uAsw.open-kZ53_U {
    border-color: var(--primary-color);
}

.option-3KoAJB {
    color: white;
}

.emojiName-Ve4ZI4 {
    color: var(--word-color);
}

.edited-3sfAzf,
.colorHeaderSecondary-3Sp3Ft {
    color: silver;
}

.wrapper-3WhCwL {
    border-radius: var(--button-radius);
    color: white;
    background: rgba(0, 0, 0, .3);
    border: 1px solid var(--primary-color);
}

.wrapper-3WhCwL:hover {
    color: var(--word-color);
    background: var(--primary-transparency);
}

.messageContainer-gbhlwo {
    background-color: rgba(0, 0, 0, .4);
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}

.embedFull-2tM8-- {
    border-left: none;
    background: rgba(0, 0, 0, .6);
}

.botTagRegular-2HEhHi,
.botTagInvert-18-95s {
    background: var(--primary-color);
    color: var(--word-color);
}

.container-cMG81i {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .4);
}

.headerAvatar-2MDZJn foreignObject,
.partyMember-1CzxeX foreignObject,
.memberListItem-31QoHj foreignObject,
.friend-3KALPe .avatar-vr5NCN foreignObject,
.avatar-3W3CeO foreignObject,
.avatar-3uk_u9 foreignObject,
.avatarWrapperNormal-3wFMbf foreignObject {
    mask: none;
}
.headerAvatar-2MDZJn .avatar-VxgULZ,
.partyMember-1CzxeX .avatar-VxgULZ,
.memberListItem-31QoHj .avatar-VxgULZ,
.friend-3KALPe .avatar-vr5NCN .avatar-VxgULZ,
.avatar-3W3CeO .avatar-VxgULZ,
.embedAuthorIcon--1zR3L,
.avatar-3uk_u9 .avatar-VxgULZ,
.avatarWrapperNormal-3wFMbf .avatar-VxgULZ,
.avatarWrapper-3H_478,
.avatarHintInner-Dco91E {
    border-radius: 3px;
}

.theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover,
.theme-dark .enabled-1t_Gxm:hover {
    background-color: black;
}

.theme-dark .children-19S4PO:after {
    background: none;
}

.theme-dark .friendSelected-1sa4bG {
    background-color: transparent;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.theme-dark .separator-XqIyoz {
    background-color: transparent;
}

.partyMember-1CzxeX:last-child,
.partyMember-1CzxeX,
.partyMember-1CzxeX:first-child {
    -webkit-mask: none;
    mask: none;
}

.theme-dark .partyMemberOverflow-lXnzvu {
    background-color: var(--primary-color);
}
.partyMemberOverflow-lXnzvu {
    min-width: 21px;
    padding: 0 2px;
    border-radius: var(--button-radius);
    color: var(--word-color);
}


.divider-36-9JI,
.divider-3FBTu8 {
  background: none;
}

.live-vBWnV6 {
    padding: 3px 6px;
    border-radius: var(--button-radius);
    background-color: var(--primary-color) !important;
    color: var(--word-color) !important
}

.theme-dark .quickSelectPopout-X1hvgV {
    background: #141414;
    color: white;
}

.theme-dark .quickSelectPopoutOption-opKBx9:hover,
.theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
    background-color: black;
}

.menu-3sdvDG,
.scroller-2TWLdF {
    box-shadow: none;
    background: #141414;
    border-radius: 3px;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, 
.colorDefault-2K3EoJ .radioSelection-1HmrQS {
    color: var(--primary-color);
}

.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ, 
.colorDefault-2K3EoJ.focused-3afm-j .radioSelection-1HmrQS, 
.colorDefault-2K3EoJ.focused-3afm-j .subtext-13Lvrj {
    color: var(--word-color);
}

.viewer-2fFR_X:last-child,
.viewer-2fFR_X {
    -webkit-mask: none;
    mask: none;
}
.viewer-2fFR_X foreignObject,
.avatar-_-TGPX foreignObject,
.controlButton-2MhVEL foreignObject,
.listAvatar-1NlAhb foreignObject,
.avatar-3EQepX foreignObject {
    mask: none;
}

.viewer-2fFR_X  .avatar-VxgULZ,
.avatar-_-TGPX .avatar-VxgULZ,
.controlButton-2MhVEL .avatar-VxgULZ,
.listAvatar-1NlAhb .avatar-VxgULZ,
.avatar-3EQepX .avatar-VxgULZ {
    border-radius: 3px;
}

.colorable-1bkp8v.primaryDark-3mSFDl, 
.colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T,
.theme-dark .activityIcon-c4ew_N {
    color: var(--word-color);
}
.colorable-1bkp8v.primaryDark-3mSFDl {
    background: var(--primary-color) !important;
}
.centerButton-3CaNcJ {
    border-radius: 3px;
}

.colorable-1bkp8v.red-33-Lnk {
    background: #e02121 !important;
}

.contextMenuNub-3yOOYo {
    border-radius: var(--button-radius);
    border: 2px solid black;
}

.wrapper-35wsBm {
    background-color: rgba(0, 0, 0, .4);
}

.chat-3bRxxu {
    background-color: transparent;
}

.timestamp-1E3uAL,
.container-3-pyIM,
.activity-2Gy-9S,
.theme-dark .operations-36ENbA,
.textarea-2r0oV8,
.userInfoSectionHeader-CBvMDh,
.listRow-hutiT_ {
    color: white;
}

.contentWrapper-SvZHNd {
    background-color: black;
    border-radius: 3px;
    box-shadow: none;
}

.navButtonActive-1MkytQ {
    background-color: var(--primary-color);
    color: var(--word-color);
}


.headerSpotify-zpWxgT,
.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.topSectionSpotify-1lI0-P,
.theme-dark .headerNormal-T_seeN,
.theme-dark .body-3iLsc4, 
.theme-dark .footer-1fjuF6,
.topSectionNormal-2-vo2m,
.body-3ND3kc,
.headerPlaying-j0WQBV,
.topSectionPlaying-1J5E4n,
.headerStreaming-2FjmGz,
.topSectionStreaming-1Tpf5X {
    background: rgba(0, 0, 0, .6);
}

.buttonInvertedPurple-WtBglX {
    background-color: #640bb8;
    color: white;
}

.buttonInvertedPurple-WtBglX:hover {
    background-color: #6e00d4;
}

.theme-dark .actionButton-VzECiy {
    border-color: #019e16;
    color: white;
    background-color: #017510;
    border-radius: 3px;
}

.selected-aXhQR6 .layout-2DM8Md .roleColor-rz2vM0 {
    color: white !important;
}

.iconBadge-qZ4Ksk {
    border-radius: 50px;
    background-color: #08b411;
}

.role-2irmRk {
    border: none;
}

.roleCircle-3xAZ1j {
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, .60);
}

.root-SR8cQa {
    border-radius: 3px;
    background-color: transparent;
}

.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
    color: var(--primary-color);
}

.colorDefault-2K3EoJ.focused-3afm-j,
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--primary-color);
    color: var(--word-color);
}

.bodyTitle-Y0qMQz {
    color: white;
    background-color: rgba(255, 255, 255, .40);
    padding: 6px 5px;
}

.input-cIJ7To:hover {
    border-color: var(--primary-transparency);
}

.textarea-2r0oV8:focus {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    line-height: 19px;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
    border: none;
}

.input-cIJ7To.focused-1mmYsC, 
.input-cIJ7To:focus {
    border-color: var(--primary-color);
}

.listRow-hutiT_:hover {
    background-color: rgba(255, 255, 255, .10);
}

.colorDefault-2K3EoJ {
    color: var(--word-color);
    border-color: transparent;
}

.mini-dmm9yo .grabber-3mFHz2 {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    border-radius: 3px;
}

.scrollableContainer-2NUZem {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 3px;
    border: 2px dashed var(--primary-color);
}

.attachment-33OFj0 {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .5);
}

.channelTextArea-rNsIhG {
    background-color: transparent;
}

.markup-2BOw-j code {
    line-height: 1.185rem;
    background: rgba(255, 255, 255, .18);
    border: none;
}

.hljs {
    padding: .8em;
    border-radius: 3px;
    color: white;
    text-shadow: 0 0 4px black, 0 0 4px black;
}

.markup-2BOw-j code.inline {
    padding: .4em;
}

.emptyChannelIcon-cc932w {
    width: 48px;
    height: 48px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .5);
}

.topic-TCb_qw,
.description-1sDbzZ,
.compact-T3H92H .timestamp-3ZCmNB, 
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt,
.membersGroup-v9BXpm,
.placeholder-37qJjk, 
.slateTextArea-1Mkdgw .hljs-comment, 
.slateTextArea-1Mkdgw .hljs-quote,
.codeBlockSyntax-2i-tMA, 
.syntaxAfter-hcA4AH, 
.syntaxBefore-1YQ9lW {
    color: white;
}

.members-1998pB, 
.members-1998pB>div {
    background-color: rgba(0, 0, 0, .2);
}

.content-yTz4x3:before {
    box-shadow: none;
}

.slateTextArea-1Mkdgw {
    caret-color: white;
}

.after_inlineCode-1KfVgj, 
.before_inlineCode-1G9rTK, 
.inlineCode-2ngu6Y {
    background: rgba(255, 255, 255, .2);
    padding: .4em 0;
}

.toolbar-2bjZV7,
.wrapper-2aW0bm {
    background-color: var(--primary-color);
    border-radius: 3px;
    box-shadow: none;
}


.hasDivider-20M1le,
.toolbar-2bjZV7:before,
.divider-24xeUg {
    border: none;
}

.icon-KgGMGo {
    color: var(--word-color);
}

.active-2HPddW, 
.hover-28QbSq:hover,
.button-1ZiXG9:hover {
    background-color: rgba(0, 0, 0, .4);
}

.button-1ZiXG9:hover,
.button-1ZiXG9 {
    color: white;
}

.bar-2Qqk5Z {
    border-radius: 2px;
}

.grabber-3mFHz2 {
    border-radius: 3px;
    background-color: rgba(255,255,255,.6);
    border: none;
    box-shadow: none;
}

.barFill-23-gu- {
    background: var(--primary-color);
}

.theme-dark .bar-2Qqk5Z {
    background: #818181;
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background: var(--primary-color) !important;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background: #818181 !important;
}

.icon-LYJorE, .iconContainer-2-XQPY {
    border-radius: 3px;
}

.separator-2I32lJ {
    border: none;
}

.button-14-BFJ {
    border-radius: 3px;
    color: white;
}

.button-14-BFJ.enabled-2cQ-u7:hover {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.uploadArea-3QgLtW {
    background-color: rgba(0, 0, 0, .4);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    border-radius: 3px;
    background: black;
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    color: var(--word-color);
    border: 2px dashed var(--primary-color);
    border-radius: 3px;
}

.panels-j1Uci_ {
    background-color: rgba(0, 0, 0, .2);
}

.bd-toast.toast-success {
    background-color: #096d0e;
}

.bd-toast {
    background: rgba(0, 0, 0, .7);
    border-radius: 3px;
    box-shadow: none;
}

.container-3baos1 .avatar-SmRMf2 foreignObject {
    mask: none;
}
.container-3baos1 .avatar-SmRMf2 .avatar-VxgULZ,
.avatar-3tNQiO {
    border-radius: var(--avatar-radius);
}

.searchBar-3dMhjb {
    border-radius: 3px;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, 
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, 
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a,
.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: white;
}

.jumpToPresentBar-G1R9s6 {
	background-color: rgba(0, 0, 0, .7);
}

.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    width: 134px;
    height: 134px;
    background-color: transparent;
    border-radius: 3px;
    box-shadow: none;
}

.theme-dark .uploadModal-2ifh8j {
    background: linear-gradient(145deg, rgba(0,0,0,1) 0%, var(--primary-color) 100%);
    box-shadow: none;
}

.theme-dark .footer-3mqk7D {
    background-color: transparent;
    box-shadow: none;
}

.theme-dark .container-3ayLPN {
    background-color: #111111;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    background: linear-gradient(145deg, rgba(0,0,0,1) 40%, var(--primary-color) 100%);
}

.theme-dark .option-96V44q.selected-rZcOL-:after,
.theme-dark .option-96V44q:after {
    background: none;
}

.theme-dark .focused-2bY0OD {
    background: linear-gradient(145deg, rgba(0,0,0,1) 40%, var(--primary-color) 100%);
}

.theme-dark .queryContainer-RKFJW- {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .dim-1l4L4y span {
    background-color: black;
    color: white;
}
.theme-dark .keybindShortcut-1BD6Z1 span {
    color: white !important;
    box-shadow: none !important;
    border: 1px solid var(--primary-transparency);
    background-color: black;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border: 1px solid var(--primary-color);
}

.resultsGroup-r_nuzN .header-2N-gMV {
    font-size: 15px;
    text-transform: capitalize;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
 .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: transparent;
    border-color: transparent;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: transparent;
    color: white;
}

.calendarPicker-2yf6Ci .react-datepicker__month * {
    border: none !important;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    color: var(--word-color);
    background-color: var(--primary-color);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--primary-color);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, 
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: rgba(255,0,0,.2);
    color: rgba(255, 255, 255, .3);
}


.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, .6);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    border: none;
}

.theme-dark .searchResultChannelCategory-1l0lSn, 
.theme-dark .searchResultChannelIcon-1DnTme,
.theme-dark .option-96V44q .answer-1n6g43,
.theme-dark .descriptionDiscriminator-3vUOCc {
    color: silver;
}

.searchHeader-2XoQg7 {
    color: white;
    box-shadow: none;
}

.searchResultsWrap-3-pOjs {
    background: linear-gradient(115deg, rgba(0,0,0,1) 40%, #2c2c2c 100%);
}

.searchResult-9tQ1uo:before,
.searchResult-9tQ1uo:after {
    background-image: none;
}

.channelSeparator-1DOiGt:before {
    border: none;
}

.channelName-1JRO3C {
    padding: 7px 6px;
    color: var(--word-color);
    background: var(--primary-color);
}

.searchResultMessage-1fxgXh.hit-1fVM9e {
    box-shadow: none;
    background-color: black;
    border: 1px solid white;
}

.searchResult-9tQ1uo.expanded-w_LCGl {
    border: 1px solid var(--primary-color);
    background-color: black;
}

.expanded-w_LCGl .searchResultMessage-1fxgXh.hit-1fVM9e {
    background: linear-gradient(115deg, rgba(0,0,0,1) 10%, #2c2c2c 100%);
    border: none;
}

.jumpButton-JkYoYK {
    background-color: var(--primary-color);
    color: var(--word-color) !important;
}

.theme-dark .closeButton-1tv5uR {
    border-color: transparent;
    border-radius: var(--button-radius);
}

.guildIcon-3raYf3 {
    background-color: transparent;
    border-radius: var(--button-radius);
}

.theme-dark .perksModal-fSYqOq {
    background-color: transparent;
}

.theme-dark .inviteRow-2L02ae:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-right: none;
    border-top: none;
}

.inviteRowAvatar-EURMT6 foreignObject {
    mask: none;
}

.inviteRowAvatar-EURMT6 .avatar-VxgULZ {
    border-radius: 3px;
}

.css-eo20y5 {
    color: white;
    opacity: .7;
}

.css-1a8reka-control {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .2);
}

.css-1a8reka-control:hover,
.css-gvi9bl-control:hover {
    border-color: var(--primary-transparency);
}

.css-gvi9bl-control {
    background-color: transparent;
    border-color: var(--primary-color);
}

.css-o3gndj-placeholder {
    color: white;
    opacity: 1;
}

.css-3vaxre-menu {
    background-color: #0a0a0a;
    box-shadow: none;
    color: white;
    border-color: transparent;
}

.css-1yz4bi9-option {
    color: white;
}

.css-rzbxvl-option {
    background: linear-gradient(145deg, rgba(0,0,0,1) 50%, var(--primary-transparency) 100%);
    color: white;
}

.header-2RyJ0Y {
    line-height: 18px;
    text-transform: capitalize;
    color: white;
}

.theme-dark .option-96V44q .nonText-3CRkO0 {
    color: #5a5a5a;
}

.categoryItem-3zFJns,
.theme-dark .option-96V44q strong,
.theme-dark .contentTitle-2tG_sM,
.theme-dark .content-Qb0rXO,
.theme-dark .description-11DmNu, 
.theme-dark .descriptionUsername-J_75O8,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml,
.theme-dark .keybindShortcut-1BD6Z1,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name,
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
    color: white;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    color: var(--word-color);
    background-color: var(--primary-transparency);
    padding: 4px 8px;
}

.theme-dark .searchAnswer-3Dz2-q, 
.theme-dark .searchFilter-2ESiM3 {
    background-color: rgba(0, 0, 0, .6);
}

.mentioned-xhSam7 {
    background-color: transparent !important;
    border: 2px solid var(--primary-color);
    padding-bottom: 6px !important;
}

.theme-dark .mentioned-xhSam7 .mention.interactive:hover {
    color: var(--word-color) !important;
    background-color: var(--primary-color) !important;
}

.mentioned-xhSam7:before {
    background-color: transparent;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: var(--primary-color);
}

.theme-dark .iconForeground-1w5n7R {
    fill: white;
}

.theme-dark .selected-1Tbx07 {
    background-color: transparent;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


.content-Qb0rXO foreignObject,
.container-3RCQyg foreignObject{
  mask: none;
}
.content-Qb0rXO .avatar-VxgULZ,
.option-96V44q.user-O3Czj0 .displayAvatar-1wWlVM,
.container-3RCQyg .avatar-VxgULZ {
    border-radius: var(--avatar-radius);
}

.theme-dark .divider-23swzi {
    background-color: transparent;
}

.clickable-1JJAn8.container-2Pjhx-:hover, 
.clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i {
    color: silver;
}

.clickable-1JJAn8:hover .layout-2DM8Md,
.listDefault-3ir5aS .clickable-1lCRLF:hover .content-1Wq3SX {
    background-color: rgba(0, 0, 0, .3);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp {
    color: var(--word-color);
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
    background-color: var(--primary-color);
}

.theme-dark .autocomplete-1vrmpx {
    background-color: #181818;
    border-radius: 3px;
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}

.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
}
.auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: transparent;
}
.auto-Ge5KZx::-webkit-scrollbar {
    width: 19px;
}

.avatarSpeaking-2IGMRN {
    box-shadow: inset 0 0 0 2px var(--primary-color),inset 0 0 2px 3px black;
}

.akaBadge-1M-1Gw {
    background-color: var(--primary-color);
    color: var(--word-color);
}

.status-1WEaea {
    border-radius: var(--button-radius);
    color: var(--word-color);
    background-color: var(--primary-color);
    width: 23px;
    height: 23px;
}

.voiceAvatar-14IynY,
.border-Jn5IOt,
.avatar-3bWpYy, 
.clickableAvatar-1wQpeh, 
.emptyUser-7txhlW,
.wrapper-2QE8vf.ringingIncoming-38YcLn:after, 
.wrapper-2QE8vf.ringingOutgoing-mbXhhQ:after,
.status-254fhp {
    border-radius: var(--avatar-radius);
}
.callAvatarMask-1SLlRi foreignObject {
    mask: none;
}

.wrapper-2qzCYF.minimum-28Z35l {
    background-color: rgba(0, 0, 0, .5);
}

.border-Jn5IOt.speaking-B2MXPi,
.border-3dQmSY.speaking-WDn8Wm {
    box-shadow: inset 0 0 0 3px var(--primary-color),inset 0 0 0 4px black;
}

.avatarContainerMasked-PIJ-3L {
    margin-right: -1px;
}
.avatarContainerMasked-PIJ-3L foreignObject {
    mask: none;
}

.moreUsers-7v8yWY {
    background-color: rgba(0, 0, 0, .5);
    color: var(--word-color);
    border-radius: 3px;
    padding: 0 4px;
}

/* Last Part */

.theme-dark .divider-3wNib3 {
  border: none;
}

.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP,
.contentRegion-3nDuYy, 
.contentRegionScroller-26nc1e,
.scroller-305q3I {
    background-color: transparent;
}

.avatarUploaderIndicator-2G-aIZ {
    border-radius: var(--button-radius);
}

.subtitle-2yP_Eh {
    color: silver;
}

.title-1B76a1,
.theme-dark .keybind-KpFkfr,
.sidebarHeader-UbSI9z,
.theme-dark .member-1q7VfX .tag-1YGWN9 {
    color: white;
}

.lighten-2aYaaU {
    opacity: 1;
}

.item-26Dhrx {
    background: rgba(0,0,0,.3);
}

.cardPrimary-1Hv-to, 
.item-26Dhrx {
    border-color: transparent;
}

.radioBar-bMNUI- path[fill] {
    fill: var(--primary-color);
}
.radioIconForeground-XwlXQN {
    color: var(--word-color);
    r:7;
}

.item-26Dhrx[aria-checked=true] {
    background: linear-gradient(145deg, transparent 50%, var(--primary-transparency) 100%) !important;
    border: none;
}

.separator-gCa7yv {
    background-color: transparent;
}

.avatar-2Hubm8 foreignObject,
.member-1q7VfX .avatar-2tTaT6 foreignObject,
.avatar-1D9RQa foreignObject,
.bannedUser-1IalTM .bannedUserAvatar-2xQUYe foreignObject {
    mask: none;
}

.avatar-2Hubm8 .avatar-VxgULZ,
.iconWrapper-lS1uig,
.member-1q7VfX .avatar-2tTaT6 .avatar-VxgULZ,
.avatar-1D9RQa .avatar-VxgULZ,
.bannedUser-1IalTM .bannedUserAvatar-2xQUYe .avatar-VxgULZ {
    border-radius: var(--avatar-radius);
}

.theme-dark .card-FDVird:before {
    background-color: rgba(0, 0, 0, .2);
    border-color: transparent;
}

.theme-dark .button-2CgfFz {
    background-color: rgba(0, 0, 0, .5) !important;
    box-shadow: none !important;
    border-radius: var(--button-radius);
}

.side-8zPYf6 .item-PXvHYJ {
    border-radius: var(--button-radius);
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
    background-color: #1251b1 !important;
    color: white !important;
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: #1251b1;
}
.reset-2ikQ30 {
    opacity: 1 !important;
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#1251b1 0,#1251b1 2px,transparent 0);
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
    background-color: #c01212 !important;
    color: white !important;
}

.theme-dark .message-2qRu38 {
    background-color: transparent;
    box-shadow: none;
}

.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: #fff;
    background-color: #c01212;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
    background-color: #d80d0d;
}

.round-2jCFai {
    border-radius: var(--button-radius);
}

.container-3w7J-x {
    background-color: transparent;
}

.clickable-25tGDB .header-2V-4Sw:hover, 
.selected-31Nl7x .header-2V-4Sw {
    background-color: rgba(0, 0, 0, .4);
}

.header-2V-4Sw {
    color: white;
    box-shadow: none;
}

.messageGroupWrapper-o-Zw7G {
    background: rgba(0, 0, 0, .4) !important;
    border: none !important;
}

.jumpButton-3DTcS_ {
    border-radius: var(--button-radius);
    color: var(--word-color);
    background-color: var(--primary-color);
}

.wrapper-PY0fhH,
.name-3l27Hl,
.wrapper-2jXpOf:hover .icon-1DeIlz,
.modeSelected-346R90 .icon-1DeIlz, 
.modeSelected-346R90:hover .icon-1DeIlz {
    color: white !important;
}

.modeUnread-1qO3K1 .icon-1DeIlz, 
.modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: #ff5100 !important;
}

.modeSelected-346R90 .content-1x5b-n, 
.modeSelected-346R90:hover .content-1x5b-n {
    background-color: var(--primary-transparency) !important;
}

.wrapper-2jXpOf:hover .content-1x5b-n {
    background-color: rgba(0, 0, 0, .2);
}

.unread-2lAfLh {
    display: none;
}

.hasMoreButton-1MELpI {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    border: none;
}

.theme-dark .newMessagesBar-265mhP, .container-2fRDfG {
    opacity: .85 !important;
    background-color: rgba(0, 0, 0, .8);
}

.users-3kndPl {
    background-color: var(--primary-transparency);
}

.wrapper-2tAnRe {
    border-radius: var(--button-radius);
    color: var(--word-color);
}

.total-i6us2n {
    background-color: var(--primary-color);
}

.total-i6us2n:after {
    border-right-color: var(--primary-color);
}

.cardPrimary-1Hv-to {
    background: rgba(0, 0, 0, .2);
}

.h2-2gWE-o {
    color: white;
    text-transform: capitalize;
}

.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 foreignObject {
    mask: none;
}
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .avatar-VxgULZ {
    border-radius: 3px;
}

.theme-dark .multiInputLast-1aQ3YA:before {
    border-right-color: transparent;
}

.theme-dark .inputPrefix-2VAOGg {
    opacity: 1;
    color: white;
}

.cardPrimaryOutline-29Ujqw {
    border: none;
}

.sizeDefault-2YlOZr {
    border-radius: var(--button-radius);
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
    background-color: rgba(0, 0, 0, .2);
}
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
    background-color: rgba(0, 0, 0, .6);
}

.theme-dark .bottomDivider-1K9Gao,
.theme-dark .paymentHeader-3QlZQi,
.guildsSection-3AvK09,
.featureBorder-7j4v58 {
    border: none;
}

.theme-dark .paymentPane-3bwJ6A {
    background-color: transparent;
    color: white;
}

.theme-dark .paginator-166-09 {
    background: transparent;
}

.theme-dark .paginator-2CA79G,
.theme-dark .content-s2SEQO ol, 
.theme-dark .content-s2SEQO p, 
.theme-dark .content-s2SEQO ul li {
    color: white;
}

.theme-dark .payment-xT17Mq {
    background-color: rgba(0, 0, 0, .2);
    color: white;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0, 0, 0, .4);
}

.theme-dark .expandedInfo-3kfShd,
.divider-J3ken9 {
    background-color: transparent;
}

.theme-dark .pageButtonNext-V2kUq0, 
.theme-dark .pageButtonPrev-1Y-47D {
    border-color: transparent;
}

.theme-dark .pageIndicator-1gAbyA {
    border-color: transparent;
    color: white;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: rgba(0, 0, 0, .3);
    border-color: transparent;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: transparent;
    border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: rgba(0, 0, 0, .3);
}

.notificationsSound-27jFSh {
    color: white;
    box-shadow: none;
}

.theme-dark .row-2okwlC,
.theme-dark .game-1ipmAa,
.theme-dark .item-3eFBNF {
    box-shadow: none;
}

.theme-dark .notDetected-33MY4s {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .nowPlaying-284llR {
    background-color: rgb(45, 105, 45, .6);
}

.theme-dark .addGamePopout-2RY8Ju {
    background-color: black;
}

.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:focus, 
.theme-dark .nowPlaying-284llR .gameNameInput-385LoS:hover,
.theme-dark .gameNameInput-385LoS:focus, 
.theme-dark .gameNameInput-385LoS:hover {
    border-color: transparent;
    background-color: rgba(0, 0, 0, .5);
    padding: 3px 6px;
}

.theme-dark .nowPlaying-284llR .gameName-1RiWHm,
.theme-dark .gameName-1RiWHm,
.theme-dark .markValue-2DwdXI,
.theme-dark .bd-addon-list .bda-description,
.standardSidebarView-3F1I7i #editor-detached h3 {
    color: white;
}

.preview-2nSL_2,
.item-3eFBNF.selected-2DeaDa {
    background-color: rgba(0, 0, 0, .3);
}

.theme-dark .markDash-3hAolZ {
    background: silver;
}

.item-3eFBNF:focus, 
.item-3eFBNF:focus-within, 
.item-3eFBNF:hover {
    background-color: rgba(0, 0, 0, .1);
}

.theme-dark .content-s2SEQO ul li:before {
    background-color: white;
    opacity: .8;
}

.theme-dark .bd-addon-list .bd-addon-card {
    background-color: rgba(0, 0, 0, .3);
    color: white;
    border-color: var(--primary-color);
}

.theme-dark .bd-addon-list .bda-header {
    color: white;
    border-bottom-color: transparent;
}

.theme-dark .bd-addon-list .bd-card-footer {
    border-top-color: transparent;
}

.bd-addon-list .bd-card-footer button[style*="background-color: rgb(114, 137, 218);"] {
    background: var(--primary-color) !important;
    color: var(--word-color);
    border-radius: var(--button-radius);
}

.bd-pfbtn,
.standardSidebarView-3F1I7i #editor-detached button,
.bd-addon-list .bd-card-footer button {
    background: var(--primary-color);
    color: var(--word-color);
    border-radius: var(--button-radius);
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}

.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--primary-color) !important;
    color: var(--word-color);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item, 
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: var(--word-color);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: var(--primary-transparency);
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-header {
    line-height: 18px;
    text-transform: capitalize;
    color: white;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
    color: silver;
    border: none;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
    background: rgba(0, 0, 0, .6);
    box-shadow: none;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--primary-color);
    border-color: transparent;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
    border-color: var(--word-color);
}

#bd-customcss-attach-controls .help-text .inline {
    background: rgba(255, 255, 255, .2);
    padding: .4em;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
    margin-right: 4px;
    background: transparent !important;
    border: 2px solid var(--primary-transparency) !important;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
    border: 2px solid var(--primary-color) !important;
}

/* Link Color Here */
.helpText-h3r3wC a,
.colorStandard-2KCXvj a,
.lookLink-9FtZy-.colorLink-35jkBc,
.emptyStateCTA-veJ2Cu a,
.markup-2BOw-j a,
.checkboxLabel-1zn0UC a,
.operations-36ENbA>a,
.topic-TCb_qw a,
.filenameLinkWrapper-1-14c5,
.filenameLinkWrapper-1-14c5 a,
.description-1sDbzZ a,
.button-2OOM0p,
.standardSidebarView-3F1I7i a,
.content-s2SEQO ul li a,
.fakeLink-26oLcc, 
.button-18p_f6 {
    color: #00d890;
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#00d890 0,#00d890 2px,transparent 0);
}


/* New Things Here */
.background-1QDuV2,
.accountList-33MS45,
.connection-1fbD7X {
	background-color: rgba(0, 0, 0, .23);
}

.fieldList-21DyL8 {
    background-color: transparent;
}

.connectionHeader-2MDqhu {
    background: none;
}

.integration-3kMeY4 {
    background-color: transparent;
}
/* New Things Here */